{% comment %}
  These are the school default links,
  All Courses, Dashboard, etc.
{% endcomment %}

{% if site.has_non_hidden_published_products %}
  <li class="header__nav-item header__nav-item--default">
    <a href="{{ site.collections_url }}">
      {{ 'liquid.partials.header_with_links.link_all_courses' | translate }}
    </a>
  </li>
{% endif %}
{% if site.current_user.signed_in %}
  <li class="header__nav-item header__nav-item--default">
    <a href="{{ site.student_dashboard_url }}">
      {{ 'liquid.partials.header_with_links.link_my_dashboard' | translate }}
    </a>
  </li>
{% endif %}
