{% comment %}
  These are your custom links that appear on the left side of the header.
  These links can be defined by clicking the "Custom Links" menu option on the
  left hand side of the dashboard.
{% endcomment %}

{% if section.blocks != empty %}
  {% for block in section.blocks %}
    {% if block.settings.nav_side == "left" %}
      <li class="header__nav-item">
        <a href="{{ block.settings.nav_url }}" target="{{ block.settings.nav_target }}">{{ block.settings.nav_text }}</a>
      </li>
    {% endif %}
  {% endfor %}
{% endif %}
