{% comment %}
  These are the school default links,
  All Courses, Dashboard, etc.
{% endcomment %}

<li class="header__nav-item">
  <a href="{{ site.collections_url }}">
    {{ 'liquid.partials.header_with_links.link_all_courses' | translate }}
  </a>
</li>
{% if site.current_user.signed_in %}
  <li class="header__nav-item">
    <a href="{{ site.student_dashboard_url }}">
      {{ 'liquid.partials.header_with_links.link_my_dashboard' | translate }}
    </a>
  </li>
{% endif %}
