// Utility
// ======================================

// Language Bar (Safari)
// Vendor default index is 1, resolves overlap
#language-bar {
  z-index: z-index(page-foreground);
}

// Skip to Main Content
#skip-link {

  a {
    position: absolute;
    top: auto;
    left: -9999px;
    width: 1px;
    height: 1px;
    overflow: hidden;
    z-index: z-index(page-background);

    &:active,
    &:focus {
      top: auto;
      left: auto;
      margin: 15px;
      padding: 15px;
      border: 2px solid $alert--info;
      background-color: $black;
      color: $white;
      font-size: 1.2rem;
      text-align: center;
      overflow: auto;
      z-index: z-index(page-foreground);
    }
  }
}

.sr-only {
  @include sr-only;
}

// Hide
.hidden {
  display: none !important;
}

@media print {

  .hidden-print {
    display: none !important;
  }
}

// NoScroll
.noscroll {
  overflow: hidden;
}

// Admin Notice (Override)
.admin-notice__bar {
  @include screen-md-max {

    a {
      display: block;
    }
  }

  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: z-index(page-foreground);
}

// Notifications
#notifications {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;

  .row {
    @include make-row(true);
  }

  .flash {
    @include make-col(12);
  }
}

// Full-Width Backgrounds
.full-width-background {
  @include full-width-background;
}

// Section Background Presets
.section-color-preset__banner {
  @include section-color-preset($banner-background-color, $banner-heading-color, $banner-subheading-color, $banner-text-color);

  .button-secondary {
    border-color: $button__primary-background;
    color: $banner-heading-color;

    &:active,
    &:focus,
    &:hover {
      border-color: $button__primary-background--active;
      background-color: $button__primary-background--active;
    }
  }
}

.section-color-preset__primary {
  @include section-color-preset($primary-background-color, $primary-heading-color, $primary-subheading-color, $primary-text-color);
}

.section-color-preset__secondary {
  @include section-color-preset($secondary-background-color, $secondary-heading-color, $secondary-subheading-color, $secondary-text-color);
}

.section-color-preset__tertiary {
  @include section-color-preset($tertiary-background-color, $tertiary-heading-color, $tertiary-subheading-color, $tertiary-text-color);
}

// Section Height Presets
.section-height__banner {
  @include section-height($section-height__large * 2, $section-height__large);
}

.section-height__large {
  @include section-height(section-height-preset(large));
}

.section-height__medium {
  @include section-height(section-height-preset(medium));
}

.section-height__small {
  @include section-height(section-height-preset(small));
}

// OwlCarousel
.owl-carousel {

  .owl-dots {
    padding: $gutter-width / 2 0 $gutter-width;
    text-align: center;

    .owl-dot {
      display: inline-block;
      width: 11px;
      height: 11px;
      margin: 0 10px 0 0;
      border: 1px solid $accent__color;
      border-radius: 50%;

      &:last-of-type {
        margin: 0;
      }

      &.active {
        background-color: $accent__color;
      }
    }
  }

  .owl-nav {
    position: absolute;
    top: 25%;
    left: 0;
    width: 100%;
    z-index: z-index(default);

    .owl-prev,
    .owl-next {
      @include transition(color 400ms ease);

      position: absolute;
      color: $interface__background-color;
      font-size: modular-scale(1);
      z-index: z-index(element--middleground);

      &:active,
      &:focus,
      &:hover {
        color: $interface__background-color--active;
      }
    }

    .owl-prev {
      left: 0;
    }

    .owl-next {
      right: 0;
    }
  }
}

.overlay {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: z-index(page-background);

  &.show {
    opacity: 1;
    z-index: z-index(overlay);
  }
}
