// Layout
// ======================================

// Container
[class*="__container"] {
  @include make-container;
}

[class*="__wrapper"] {
  @include make-row;

  &>[class*="__menu"] {
    @include screen-sm-max {
      @include order(2);
    }
    @include screen-lg-min {
      @include make-col(3);
    }
    @include make-col(12);

    @media screen and (min-width: $screen-md) and (max-width: $screen-md-max) {
      margin: 0 0 $gutter-width;
    }
  }

  &>[class*="__content"] {
    @include screen-sm-max {
      @include order(1);
      margin: 0 0 $gutter-width;
    }
    @include make-col(12);
  }
}

[class*="__content"] {

  [class*="__menu"] + & {
    @include screen-lg-min {
      @include make-col(9);

      padding-left: $gutter-width;
    }
  }
}

[class*="__button-group"] {
  @include make-row;
  @include align-items(flex-start);

	.button {
		@include display(flex);
		@include order(2);

		width: auto;
		margin-right: $gutter-width / 2;
	}

	.button-primary {
		@include order(1);
	}
}
