// Forms
// ======================================

form,
input,
textarea,
label,
fieldset,
legend,
select,
optgroup,
option,
datalist,
keygen,
output {
  color: $form__input-color;
}

input {
  &[type="text"],
  &[type="email"],
  &[type="password"],
  &[type="search"] {
    @include appearance(none);

    &,
    &:active,
    &:focus,
    &:hover {
      border-radius: 0;
      -webkit-border-radius: 0;
    }

    &:active,
    &:focus,
    &:hover {
      border-color: $brand__color;
    }
  }
}

.form__group {
  @include form-group;
}

.form__button-group {

  .form__label + & {
    @include screen-sm-min {
      width: 25%;
      padding-top: 0;
    }
    @include align-self(flex-end);

    width: 100%;
    padding-top: $gutter-width / 2;
  }

  .button {
    @include screen-xs-max {
      width: 100%;
    }
  }
}

.form__label {
  @include form-label;
}

.form__label-checkbox {
  font-size: 1rem;
}

.form__remember-me,
.form__forgot-password {

  & {
    font-size: .75rem;
    line-height: 2;
  }
}

.form__forgot-password {
  margin-right: 0;
  margin-left: auto;
  text-align: right;
}

.form__select-label {
  @include form-select-label;
}

.form__select-no-label {
  @include form-select-no-label;
}

.form__search-label {
  display: block;
  position: relative;

  &:after {
    @include transform(translatey(-50%));

    display: inline-block;
    position: absolute;
    top: 50%;
    right: 1rem;
    width: 1rem;
    height: 1rem;
    color: $body__text-color;
    font-family: $icon__font-family;
    font-size: 1.25rem;
    line-height: 1;
    text-align: center;
    content: "\f002";
    pointer-events: none;
  }
}

.form__review-stars-label {
  display: block;
  margin: 0 10px 0 0;
}

.form__control {
  @include form-control;

  &.form__control-search {
    padding-right: 32px;
  }
}


select {

  &.form__control {
    @include appearance(none);

    padding-right: 32px;
  }
}

.form__notice,
.form-error__list {
  width: 100%;
  font-size: .875rem;

}

.form__notice {
  font-style: italic;
}

.form-error__list {
  color: $alert--error;
}

:focus {
  outline: 1px solid $brand__color;
  outline-offset: -1px;
}

::-webkit-input-placeholder,
::-moz-placeholder,
:-ms-input-placeholder,
:-moz-placeholder,
::placeholder {
  color: $form__input-color-placeholder;
}
