// Page Header
// ======================================

// Admin Notice (Override)
.admin-notice__bar {
  @include screen-md-max {

    a {
      display: block;
    }
  }

  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 4;
}
