// Lists
// ======================================

ol,
ul,
li {
  margin: 0;
  padding: 0;
}

[class*="__list"],
[class*="__menu"],
[class*="__nav"],
ul[class*="__button-group"] {
  list-style: none;

  li {
    list-style: none;
  }
}

[class*="__nav"] {

  li {
    display: inline-block;
  }
}

[class*="__list"],
[class*="__menu"] {
  display: block;

  li {
    display: block;
  }
}
