html {
  font-size: 16px;
}

a {
  color: #265C83;

  &,
  &:active {
    transition: color 300ms ease;
  }

  &:link,
  &:visited {
    color: #265C83;
  }

  &:active {
    color: #007BE6;
  }

  &:hover {
    color: #7FDBFF;
  }
}