// Base
// ======================================

html {
  font-size: $root__font-size;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

* {
  &,
  &:before,
  &:after {
    box-sizing: inherit;
  }
}

a {
  @include transition(color 300ms ease);

  color: $link__color;

  &:active,
  &:hover,
  &:focus {
    @include transition(color 300ms ease);

    color: $link__color--active;
  }

  &:focus {
    outline-offset: -1px;
    outline-style: solid;
  }
}

body {
  margin: 0;
  padding: 0;
  background-color: $body__background-color;
  color: $body__text-color;
}

main {
  & > section {
    overflow-x: hidden;
  }
}
