// Layout
// ======================================

// Container
.container {
  @include screen-md-min {
    max-width: $screen-md;
  }
  @include screen-lg-min {
    max-width: $screen-lg;
  }
  @include screen-xl-min {
    max-width: $screen-xl;
  }

  position: relative;
  width: 100%;
  max-height: 100%;
  margin: 0 auto;
  padding-right: ($gutter-width / 2);
  padding-left: ($gutter-width / 2);
}

.row {
  @include make-row();

  margin-right: $gutter-width / -2;
  margin-left:  $gutter-width / -2;
  padding-right: 0;
  padding-left: 0;
}

.page__menu {
  @include screen-sm-max {
    @include order(2);
  }
  @include screen-lg-min {
    @include make-col(3);
  }
  @include make-col(12);

  @media screen and (min-width: $screen-md) and (max-width: $screen-md-max) {
    margin: 0 0 $gutter-width;
  }
}

.page__content {
  @include screen-sm-max {
    @include order(1);
    margin: 0 0 $gutter-width;
  }
  @include make-col(12);

  .page__menu + & {
    @include screen-lg-min {
      @include make-col(9);

      padding-left: $gutter-width;
    }
  }
}

[class*="__button-group"] {
  @include make-row;
  @include align-items(flex-start);

	.button {
		@include display(flex);
		@include order(2);

		width: auto;
		margin-right: $gutter-width / 2;
	}

	.button-primary {
		@include order(1);
	}
}
