// Pagination
// ======================================

.pagination {
  @include make-row(false);
  @include screen-md-min {
    margin: 0 0 $gutter-width;
  }

  width: 100%;
}

.pagination__overview,
.pagination__pages {
  @include screen-md-min {
    @include make-col(6);
  }
  @include make-col(12);
}

.pagination__overview {
  @include screen-sm-max {
    @include order(2);
  }
  @include screen-sm-max {
    text-align: center;
  }

  margin: 0;
  font-size: 0.875rem;
}

.pagination__pages {
  @include screen-sm-max {
    @include order(1);

    margin: 0 0 $gutter-width / 2;
  }
  @include screen-sm-max {
    text-align: center;
  }

  list-style: none;
  text-align: right;

  li {
    display: inline-block;

    &.active {
      a {
        color: $link__color;

        &:after {
          content: "";
        }
      }
    }
  }

  a {
    @include screen-md-min {
      font-size: 0.875rem;
    }

    position: relative;
    color: $link__color--active;
    font-size: 1rem;
    font-weight: bold;
    text-decoration: none;

    &:active,
    &:focus,
    &:hover {
      color: $link__color;
    }
  }

  .fa {
    @include screen-md-min {
      font-size: 0.5rem;
    }

    margin: 0 5px;
    font-size: 1rem;
    font-weight: normal;
    vertical-align: middle;
  }
}

.pagination__page-number {
  margin: 0 2.5px;

  &:active,
  &:focus,
  &:hover {
    &:after {
      content: "";
    }
  }

  &:after {
    display: inline-block;
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: $link__color;
    content: none;
  }
}
