// Dashboard
// ======================================

.student-dashboard {
  background-color: gray-scale(0);

  .container {
    @include page-padding;
  }
}

.student-dashboard__banner {
  background-color: $interface__background-color;

  h4 {
    margin: 0;
    font-family: $body__font-family;
    font-weight: 400;
  }
}

.student-dashboard__form {

  a {
    text-decoration: none;
  }

  h1 {
    margin: 0;
    font-weight: 400;
  }

  .form__select-no-label {

    .form__control {
      border: 0;
      background-color: transparent;
      direction: rtl;
    }
  }

  .row {
    @include justify-content(space-between);

    margin-right: 0;
    margin-left: 0;
  }
}
