// Password Reset
// ======================================

.password-reset {
  padding-top: 30px;
  padding-bottom: 30px;
}

.password-reset__container {
  @include make-container;
}

.password-reset__wrapper {
  @include make-row(true);
  @include justify-content(center);
}

.password-reset__form {
  @include screen-lg-min {
    @include make-col(6);
  }
  @include screen-md-min {
    @include make-col(8);
  }
  @include make-col(10);
}

.password-reset__sent {
  @include screen-lg-min {
    @include make-col(6);
  }
  @include screen-md-min {
    @include make-col(8);
  }
  @include make-col(10);

  text-align: center;
}
