// Sign-In/Out & Express Sign-In
// ======================================

.sign-in,
.sign-up,
.express-sign-in {
  @include page-padding;
}

.sign-in__container,
.sign-up__container,
.express-sign-in__container {
  @include make-container;
}


.sign-in__wrapper,
.sign-up__wrapper,
.express-sign-in__wrapper {
  @include make-row(true);
  @include justify-content(center);
}

.sign-in__form,
.sign-up__form {
  @include screen-md-min {
    @include make-col(8);
  }
  @include screen-lg-min {
    @include make-col(6);
  }
  @include make-col(10);
}

.sign-in__sign-up,
.sign-up__sign-in {
  @include screen-lg-min {
    @include make-col(6);
  }
  @include screen-md-min {
    @include make-col(8);
  }
  @include make-col(10);

  text-align: center;

  a {
    color: $body__font-color;
    font-size: .875rem;
  }
}
