// Dashboard
// ======================================

.student-dashboard {
  background-color: $body__background-color;
}

.student-dashboard__container {
  @include make-container;
  @include page-padding;
}

.student-dashboard__banner {
  background-color: $interface__background-color;

  h4 {
    margin: 0;
    font-family: $body__font-family;
    font-weight: 400;
  }
}

.student-dashboard__form {

  a {
    text-decoration: none;
  }

  h1 {
    margin-bottom: $gutter-width / 2;
    font-weight: 400;
  }

  .form__group {
    @include justify-content(space-between);

    margin-right: 0;
    margin-left: 0;
  }

  .form__select-no-label {
    @include flex-grow(0);

    .form__control {
      border: 0;
      background-color: transparent;
      direction: rtl;
    }
  }
}
