// Prelaunch
// ======================================

.prelaunch {
  @include page-padding;
}

.prelaunch__container {
  @include make-container;
}

.prelaunch__wrapper {
  @include make-row(false);
  @include justify-content(center);
}

.prelaunch__form,
.prelaunch__thank-you {
  @include screen-md-min {
    @include make-col(10, false);
  }
  @include screen-lg-min {
    @include make-col(6, false);
  }
  @include make-col(12, false);
}

.prelaunch__thank-you {
  .prelaunch__subheading {
    text-align: center;
  }
}
