// Reviews
// ======================================

.reviews {
  overflow: hidden;

  .section__headings {
    margin: 0 0 $gutter-width * 2;
  }

  .section__content {
    padding: 0 $gutter-width;
  }

  .owl-carousel {

    .owl-nav {

      .owl-prev {
        left: -($gutter-width);
      }

      .owl-next {
        right: -($gutter-width);
      }
    }
  }

}

.reviews__container {
  @include make-container;
}

.reviews__list {

  .owl-item {

    &.active {
      padding-right: $gutter-width / 2;
      padding-left: $gutter-width / 2;
    }
  }
}

.reviews__list-item {

  header {
    margin: 0 0 $gutter-width / 2;
    border-bottom: $interface__border;
  }
}

.review__title,
.review__author {
  font-family: $body__font-family;
}

.review__title {
  font-size: modular-scale(1);
}

.review__author {
  color: $body__text-color;
  font-size: modular-scale(0);
}

.review__body--complete {
  display: none;
}

.review__show-more,
.review__show-less {
  font-size: .875rem;
  font-weight: bold;

  &,
  &:active,
  &:focus,
  &:hover {
    text-decoration: none;
  }
}
