// Course Curriculum
// ======================================

.course-curriculum {
  @include section-height(section-height-preset(medium));

  .section__heading {
    margin: 0 0 $gutter-width * 1.5;
  }
}

.course-curriculum__chapter-list {
  list-style: none;
}

.course-curriculum__chapter {
  margin: 0 0 $gutter-width * 1.5;
}

.course-curriculum__chapter-header {
  @include make-row;

  position: relative;
  margin-bottom: $gutter-width / 2;
  border-bottom: 1px solid gray-scale(1);
  cursor: pointer;

  &.collapse {

    i {
      &:after {
        @include transform(translate(2px, 2px) rotate(-140deg));
      }

      &:before {
        @include transform(translate(2px, -3px) rotate(140deg));
      }
    }
  }

  i {
    @include transform(translatey(-50%));

    display: inline-block;
    position: absolute;
    top: 50%;
    right: $gutter-width;
    height: 1em;

    &:before,
    &:after {
      @include transition(all 250ms ease);

      position: absolute;
      width: 3px;
      height: 9px;
      background-color: $heading__font-color;
      content: "";
    }

    &:before {
      @include transform(translate(2px, 0) rotate(45deg));
    }

    &:after {
      @include transform(translate(-2px, 0) rotate(-45deg));
    }
  }
}

.course-curriculum__chapter-number {
  display: none;
}

.course-curriculum__chapter-title {
  @include flex-grow(1);

  position: relative;
  padding-left: $gutter-width;
}

.course-curriculum__chapter-time {
  display: inline-block;
  position: relative;
  top: -2px;
  right: $gutter-width * 2;
  padding: $gutter-width / 6 $gutter-width / 2;
  float: right;
  border-radius: 25px;
  background-color: $heading__font-color;
  color: $white;
  font-size: 300;
  letter-spacing: 1px;
  line-height: 1;
}

.course-curriculum__chapter-content {
  list-style: none;

  a {
    color: $heading__font-color;
    text-decoration: none;

    &:active,
    &:focus,
    &:hover {
      text-decoration: underline;
    }
  }

  li {
    position: relative;
    margin-bottom: 1em;
    padding-left: $gutter-width;

    &:before {
      @include transform(translatey(-50%));

      display: inline-block;
      position: absolute;
      top: 50%;
      left: 10px;
      width: 6px;
      height: 6px;
      border-radius: 50%;
      background-color: $heading__font-color;
      content: "";
    }
  }
}
