// Banner (Bundle)
// ======================================

.banner-bundle {

  .section__content {
    @include screen-lg-min {
      @include make-col(8, false);
    }
    @include screen-xl-min {
      @include make-col(6, false);
    }
    @include make-col(12, false);
  }

  .section-heading,
  .section-subheading {
    font-family: $heading__font-family;
  }

  .section__heading {
    font-weight: 400;
  }

  .section__subheading {
    font-size: modular-scale(-1);
    text-transform: lowercase;
    opacity: 0.6;

    .fa {
      margin-right: $gutter-width / 4;
    }
  }

  .section__content__wrapper {
    @include screen-md-min {
      padding: $gutter-width / 2 $gutter-width * 1.5 $gutter-width * 1.5;
    }

    padding: $gutter-width / 2;
  }
}

.banner-bundle__container {
  @include make-container;
}

.banner-bundle__wrapper {
  @include make-row(false);

  .banner-bundle__container > & {
    border-radius: $base__border-radius;
    overflow: hidden;
  }
}

.banner-bundle__img-container {
  @include full-width-background;
  @include screen-md-max {
    height: 200px;
  }
  @include screen-lg-min {
    @include make-col(4);
  }
  @include screen-xl-min {
    @include make-col(6);
  }
  @include make-col(12);

	a {
		display: block;
		position: relative;
		height: 100%;
	}
}

.banner-bundle__description {
  margin: 0 0 $gutter-width * 2;
}

.banner-bundle__button-group {
  @include screen-md-max {
    @include justify-content(center);
  }
  @include make-col(12, false);

  font-size: 0;

  .button {
    @include screen-md-max {
      width: auto;
      margin-bottom: $gutter-width / 2;
    }

    font-size: 1rem;

    &:first-child {
      margin-right: $gutter-width / 4;
    }
  }
}

.banner-bundle__details {
  @include make-row(false);

  & > * {
    @include make-col(4);

    display: inline-block;
    padding: 10px;
    font-size: 0.875rem;
    font-weight: 600;
    line-height: 1.4rem;
    text-align: center;

    &:only-child {
      @include make-col(12);
    }
  }
}
