// Course Content
// ======================================

.course-content {

  .section__heading {
    margin-bottom: $gutter-width;
  }
}

.course-content__content-list {
  @include screen-lg-min {
    width: 80%;
  }
  @include make-row;
  @include justify-content(center);

  margin: 0 auto;
  list-style: none;
}

.course-content__content-item {
  @include screen-sm-min {
    @include make-col(4);
  }
  @include screen-md-min {
    @include make-col(3);
  }
  @include screen-lg-min {
    @include make-col(2);
  }
  @include make-col(6);

  margin-bottom: $gutter-width / 2;
  text-align: center;

  i {
    display: inline-block;
    margin-bottom: 10px;
    font-size: 3.438rem;
  }

  span {
    display: block;
  }
}
