// Testimonials
// ======================================

.testimonials {
  @include section-height-preset($section-height__medium);
  
  overflow: hidden;

  .section__heading {
    position: relative;
    margin: 0 0 $gutter-width * 2;
    z-index: 1;
  }
}

.testimonials__list {

  &.owl-carousel {

    .owl-stage-outer {
      overflow: visible;
    }

    .owl-item {
      @include screen-sm-min {
        padding-right: $gutter-width * 1.5;
      }

      padding-right: $gutter-width / 2;

      &.active {

        & + .owl-item {
          opacity: .7;
        }
      }

      img {
        display: inline-block;
        width: 32px;
        height: 32px;
        margin: 0 $gutter-width / 2 0 0;
        border-radius: 50%;
        vertical-align: middle;
      }
    }
  }
}

.testimonials__list-item {
  @include card;

  padding: $gutter-width * 1.5 $gutter-width * 1.5 $gutter-width;

  p {
    margin: 0 0 $gutter-width / 1.5;
    padding: 0 0 $gutter-width;
    border-bottom: $interface__border;
  }

  span {
    font-size: modular-scale(-1);
    font-weight: 600;
  }

  .fa {
    display: inline-block;
    position: absolute;
    top: $gutter-width / -1.5;
    width: 42px;
    height: 42px;
    margin: 0 $gutter-width / 2 0 0;
    border-radius: 50%;
    background-color: $accent__color;
    color: $white;
    font-size: modular-scale(0);
    line-height: 42px;
    text-align: center;
  }
}
