// Testimonials
// ======================================

.testimonials {
  overflow: hidden;

  .section__headings {
    margin: 0 0 $gutter-width * 2;
  }
}

.testimonials__container {
  @include make-container;
}

.testimonials__list {

  &.owl-carousel {

    .owl-stage-outer {
      overflow: visible;
    }

    .owl-item {
      @include screen-sm-min {
        padding-right: $gutter-width;
      }

      padding-right: $gutter-width / 2;

      &.active {
        @include screen-xs-max {
          padding: 0 $gutter-width;
        }

        & + .owl-item {
          @include screen-sm-min {
            opacity: .7;
          }
          opacity: 0;
        }
      }
    }

    .owl-nav {
      @include screen-sm-min {
        display: none;
      }

      .owl-prev {
        left: 0;
      }

      .owl-next {
        right: 0;
      }
    }

    .owl-dots {
      @include screen-md-min {
        text-align: left;
      }
    }
  }
}

.testimonials__list-item {
  @include card;
  @include screen-md-min {
    padding: $gutter-width * 1.5 $gutter-width * 1.5 $gutter-width;
  }

  padding: $gutter-width * 1.5 $gutter-width $gutter-width;

  img {
    display: inline-block;
    width: 32px;
    height: 32px;
    margin: 0 $gutter-width / 2 0 0;
    border-radius: 50%;
    vertical-align: middle;
  }

  p {
    margin: 0 0 $gutter-width / 1.5;
    padding: 0 0 $gutter-width;
    border-bottom: $interface__border;
  }

  span {
    font-size: modular-scale(-1);
    font-weight: 600;
  }

  .fa {
    display: inline-block;
    position: absolute;
    top: $gutter-width / -1.5;
    width: 42px;
    height: 42px;
    margin: 0 $gutter-width / 2 0 0;
    border-radius: 50%;
    background-color: $accent__color;
    color: $white;
    font-size: modular-scale(0);
    line-height: 42px;
    text-align: center;
  }
}
