// Banner (Course)
// ======================================

.banner-course {

  .section__content {
    @include screen-lg-min {
      @include make-col(8, false);
    }
    @include screen-xl-min {
      @include make-col(6, false);
    }
    @include make-col(12, false);
  }

  .section-heading,
  .section-subheading {
    font-family: $heading__font-family;
  }

  .section__heading {
    font-weight: 400;
  }

  .section__subheading {
    font-size: modular-scale(-1);
    opacity: 0.6;
  }

  .section__content__wrapper {
    @include screen-md-min {
      padding: $gutter-width / 2 $gutter-width * 1.5 $gutter-width * 1.5;
    }

    padding: $gutter-width / 2;
  }
}

.banner-course__container {
  @include make-container;
}

.banner-course__wrapper {
  @include make-row(false);

  .banner-course__container > & {
    border-radius: $base__border-radius;
    overflow: hidden;
  }
}

.banner-course__img-container {
  @include full-width-background;
  @include screen-md-max {
    height: 200px;
  }
  @include screen-lg-min {
    @include make-col(4);
  }
  @include screen-xl-min {
    @include make-col(6);
  }
  @include make-col(12);

	a {
		display: block;
		position: relative;
		height: 100%;
	}
}

.banner-course__reviews {
  position: relative;
  margin: 0 0 $gutter-width / 2;

  .review__stars {
    margin: 0;
  }
}

.banner-course__description {
  margin: 0 0 $gutter-width * 2;
}

.banner-course__action-buttons {
  @include screen-lg-max {
    margin-bottom: $gutter-width / 2;
  }
  @include screen-md-min {
    @include make-col(6, false);

    padding-right: $gutter-width / 2;
  }
  @include make-col(12, false);

  .form__select-no-label {
    width: 100%;
  }

  &--block {
    @include screen-lg-max {
      @include make-col(12, false);
    }
  }
}

.banner-course__button-group {
  @include screen-sm-max {
    @include display(flex);
    @include justify-content(center);

    padding: $gutter-width / 2 0;
  }
  @include make-col(12, false);

  font-size: 0;

  .banner-course__action-buttons + & {
    @include screen-md-min {
      @include make-col(6, false);

      .button {
        width: auto;
      }

      .button-primary {
        margin-bottom: $gutter-width / 2;
      }
    }
    @include make-col(12, false);
  }

  .banner-course__action-buttons--block + & {
    @include screen-lg-max {
      @include make-col(12, false);
    }

    .button {

      &:only-child {
        width: 100%;
      }
    }
  }

  .button {
    @include screen-md-max {
      width: auto;
    }

    font-size: 1rem;

    &:first-child {
      margin-right: $gutter-width / 2;
    }
  }
}

.banner-course__details {
  @include make-row(false);

  & > * {
    @include make-col(4);

    display: inline-block;
    padding: 10px;
    font-size: 0.875rem;
    font-weight: 600;
    line-height: 1.4rem;
    text-align: center;

    &:only-child {
      @include make-col(12);
    }
  }
}
