// Icon & Text
// ======================================

.text-icon {
  .section__headings {
    margin: 0 0 $gutter-width * 2;
  }
}

.text-icon__container {
  @include make-container;
}

.text-icon__list {
  @include make-row(false);
  @include justify-content(center);
}

.text-icon__list-item {
  @include screen-lg-min {
    @include make-col(4);

    border-right: 0;
  }
  @include screen-md-max {
    border-bottom: 0;
  }
  @include make-col(12);

  padding-top: $gutter-width * 1.5;
  padding-bottom: $gutter-width * 1.5;
  border: $interface__border;
  background: $interface__background-color;
  text-align: center;

  &:last-child {
    border-right: $interface__border;
    border-bottom: $interface__border;
  }

  h4 {
    font-family: $body__font-family;
  }

  p {
    padding-right: $gutter-width;
    padding-left: $gutter-width;
  }

  .fa {
    margin: 0 0 $gutter-width;
    color: $accent__color;
    font-size: 4rem;
  }
}
