// Instructor(s)
// ======================================

.instructor {
  overflow: hidden;

  .section__headings {
    margin: 0 0 $gutter-width * 2;
  }

  .owl-carousel {

    .owl-item {

      img {
        display: inline-block;
        width: auto;  
      }
    }
  }
}

.instructor__container {
  @include make-container;
}

.instructor__list {
  @include screen-md-min {
    @include make-col(10);
  }
  @include screen-lg-min {
    @include make-col(9);
  }

  margin: 0 auto;

  &.owl-carousel {
    .owl-item {
      @include screen-sm-min {
        padding: 0 $gutter-width * 1.5;
      }
      @include screen-md-min {
        padding: 0 $gutter-width * 2;
      }
      padding: 0 $gutter-width;
    }

    .owl-nav {
      top: 45%;
    }
  }
}

.instructor__profile {
  header {
    margin: 0 0 $gutter-width;
    text-align: center;
  }
}

.instructor__avatar {
  display: block;
  width: 88px;
  height: 88px;
  margin: 0 auto $gutter-width / 2;
  border-radius: 50%;
}

.instructor__name,
.instructor__title {
  font-family: $body__font-family;
  font-size: modular-scale(1);
  text-align: center;
}

.instructor__name {
  margin: 0 0 $gutter-width / 4;
}

.instructor__title {
  margin: 0;
  font-weight: 400;
}
