// Checklist
// ======================================

.checklist {

  &.section__column-layout__one-column {

    .checklist__wrapper {
      @include justify-content(center);
    }

    .section__headings,
    .section__content {
      @include screen-lg-min {
        @include make-col(9);
      }
    }

    .section__headings {
      margin: 0 0 $gutter-width;
    }

    .checklist__list-item {
      @include screen-lg-min {
        @include make-col(4);

        &:nth-last-child(3) {
          h4 {
            border-bottom: 0;
          }
        }
      }
    }
  }

  .section__headings {
    @include screen-lg-min {
      @include make-col(6);
      margin: 0;
    }
    @include make-col(12);
    @include screen-md-min {
      padding-right: $gutter-width * 2;
    }
    margin: 0 0 $gutter-width;
  }

  .section__subheading {
    font-size: modular-scale(0);
    line-height: 2;
  }

  .section__content {
    @include screen-lg-min {
      @include make-col(6);

      padding-right: 6rem;
    }
    @include make-col(12);
  }
}

.checklist__container {
  @include make-container;
}

.checklist__wrapper {
  @include make-row(true);
}

.checklist__list {
  @include make-row(true);
}

.checklist__list-item {
  @include screen-sm-min {

    &:last-child {
      h4 {
        border-bottom: 0;
      }
    }
  }
  @include screen-sm-max {
    &:last-child {
      h4 {
        border-bottom: 0;
      }
    }
  }
  @include make-col(12);

  h4 {
    margin: 0;
    padding: $gutter-width / 2 0 $gutter-width / 2 $gutter-width * 1.5;
    border-bottom: $interface__border;
    font-family: $body__font-family;
    font-size: modular-scale(0);
    font-weight: 400;
    line-height: normal;
  }

  .fa {
    display: inline-block;
    position: absolute;
    top: 1rem;
    width: 32px;
    height: 32px;
    margin: 0 $gutter-width / 2 0 0;
    border-radius: 50%;
    background-color: $accent__color;
    color: dynamic-contrast-color($accent__color);
    font-size: modular-scale(-1);
    line-height: 32px;
    text-align: center;
  }
}
