// Banner (Legacy)
// ======================================

.banner-legacy {
  .section__content {
    @include make-col(12);
  }

  .section__heading {
    font-weight: 400;
  }

  .section__subheading {
    font-size: modular-scale(1);
  }

  .section__button-group {
    @include button-group;

    .button {
      @include screen-sm-max {
        margin-bottom: $gutter-width / 2;
      }
    }
  }

  .section__video {
    &--mobile {
      @include screen-md-max {
        display: block;
      }

      display: none;
    }
  }
}

.banner-legacy__container {
  @include make-container;
}

.banner-legacy__wrapper {
  @include make-row(true);
}

.banner-legacy {
  &.has-video {
    .section__video {
      @include screen-lg-min {
        @include make-col(5);
        @include make-col-push(1);
      }
      @include screen-sm-min {
        display: block;
      }
      @include align-self(center);

      display: none;
      padding-right: $gutter-width * 2;
    }

    .section__content {
      @include screen-lg-min {
        @include make-col(5);
        @include make-col-push(1);
      }
    }
  }
}
