// Banner
// ======================================

.banner {

  .section__content {
    @include make-col(12);
  }

  .section__heading {
    font-weight: 400;
  }

  .section__subheading {
    font-size: modular-scale(1);
  }

  .section__button-group {
    @include button-group;

    margin-bottom: $gutter-width;

    .button {
      @include screen-sm-max {
        margin-bottom: $gutter-width / 2;
      }
    }
  }
}

.banner__container {
  @include make-container;
}

.banner__wrapper {
  @include make-row(true);
}

.banner__read-more {
  display: inline-block;
  position: relative;
  margin-bottom: $gutter-width;
  color: $link__color;
  font-size: .875rem;
  text-decoration: none;
  text-transform: uppercase;

  .fa {
    margin: 0 10px 0 0;
    padding: 4px;
    border: 1px solid $link__color;
    font-size: .875rem;
    line-height: .875rem;
  }
}
