// Testimonials
// ======================================

.testimonials {
  overflow: hidden;

  .section__headings {
    margin: 0 0 $gutter-width * 2;
  }
}

.testimonials__container {
  @include make-container;
}

.testimonials__list {
  &.owl-carousel {
    .owl-stage-outer {
      overflow: visible;
    }

    .owl-item {
      @include screen-xs-max {
        opacity: 0;
      }
      @include screen-sm-min {
        padding-right: $gutter-width;
      }

      //padding-right: $gutter-width / 2;

      &.active {
        @include screen-xs-max {
          padding: 0 $gutter-width / 2;
          opacity: 1;
        }

        & + .owl-item {
          @include screen-sm-min {
            opacity: 0.7;
          }
          opacity: 0;
        }
      }
    }

    .owl-nav {
      @include screen-sm-min {
        display: none;
      }

      .owl-prev {
        left: $gutter-width / -2.5;
      }

      .owl-next {
        right: $gutter-width / -2.5;
      }
    }

    .owl-dots {
      @include screen-md-min {
        text-align: left;
      }
    }
  }
}

.testimonials__list-item {
  @include display(flex);
  @include flex-direction(column);
  @include screen-md-min {
    padding: $gutter-width * 1.5 $gutter-width * 1.5 $gutter-width;
  }

  position: relative;
  height: 100%;
  padding: $gutter-width $gutter-width / 2 $gutter-width;
  border: $interface__border;
  background-color: $interface__background-color;

  img {
    height: 32px;
    margin: 0 $gutter-width / 2 0 0;
    border-radius: 50%;
    overflow: hidden;
    vertical-align: middle;

    .owl-carousel .owl-item & {
      display: inline-block;
      width: 32px;
    }
  }

  p {
    margin: 0 0 $gutter-width / 1.5;
    padding: 0 0 $gutter-width;
    border-bottom: $interface__border;
  }

  span {
    font-size: modular-scale(-1);
    font-weight: 600;
  }

  .fa {
    display: inline-block;
    position: absolute;
    top: $gutter-width / -1.5;
    width: 42px;
    height: 42px;
    margin: 0 $gutter-width / 2 0 0;
    border-radius: 50%;
    background-color: $accent__color;
    color: dynamic-contrast-color($accent__color);
    font-size: modular-scale(0);
    line-height: 42px;
    text-align: center;
  }
}
