// Description
// ======================================

.description {

  .container {

    &:before {
      @include screen-lg-min {
        left: 30%;
      }

      display: block;
      position: absolute;
      top: 0;
      right: -100%;
      bottom: 0;
      left: -100%;
      background-color: $gray-0;
      content: "";
      z-index: 0;
    }
  }

  .section__headings {
    @include screen-lg-min {
      @include make-col(5);
    }
    @include make-col(12);
    @include screen-md-min {
      padding-right: $gutter-width * 2;
    }
  }

  .section__content {
    @include screen-lg-min {
      @include make-col(7);
    }
    @include make-col(12);
  }
}
