// Banner
// ======================================

.banner,
.banner-legacy {

  .section__content {
    @include make-col(12);
  }

  .section__heading {
    font-weight: 400;
  }

  .section__subheading {
    font-size: modular-scale(1);
  }

  .section__button-group {

    .button {
      @include screen-sm-max {
        margin-bottom: $gutter-width / 2;
      }
    }
  }
}

.banner-legacy {

  &.section__has-video {

    .section__video {
      @include screen-lg-min {
        @include make-col(5);
        @include make-col-push(1);
      }
      @include screen-sm-min {
        display: block;
      }
      @include align-self(center);

      display: none;
      padding-right: $gutter-width * 2;
    }

    .section__content {
      @include screen-lg-min {
        @include make-col(5);
        @include make-col-push(1);
      }
    }
  }
}

.banner__container,
.banner-legacy__container {
  @include make-container;
}

.banner__wrapper,
.banner-legacy__wrapper {
  @include make-row(true);
}

.section__video {

  &--mobile {
    @include screen-md-max {
      display: block;
    }

    display: none;
  }
}

.banner__read-more {
  display: inline-block;
  position: relative;
  top: 2rem;
  color: $link__color;
  font-size: .875rem;
  text-decoration: none;
  text-transform: uppercase;

  .fa {
    margin: 0 10px 0 0;
    padding: 4px;
    border: 1px solid $link__color;
    font-size: .875rem;
    line-height: .875rem;
  }
}
