// Video
// ======================================

.video {
  position: relative;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;

  &:after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: "";
    z-index: z-index(element--background);
    pointer-events: none;
  }

  .section__content {
    position: relative;

    &:after {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

  .section__thumbnail {
    @include screen-sm-min {
      height: 280px;
    }
    @include screen-md-min {
      height: 360px;
    }
    @include screen-lg-min {
      height: 420px;
    }

    position: relative;
    height: 160px;

    &:active,
    &:focus,
    &:hover {
      cursor: pointer;

      &:after {
        @include transform(translatex(-50%) translatey(-50%) translateZ(0) translate3d(0, 0, 0) scale(1, 1));

        opacity: 1;
      }
    }

    &:after {
      @include screen-md-min {
        width: 2.5em;
        height: 2.5em;
        font-size: modular-scale(2);
        line-height: 2.5em;
      }
      @include screen-lg-min {
        width: 2.85em;
        height: 2.85em;
        font-size: modular-scale(3);
        line-height: 2.85em;
      }
      @include transform(translatex(-50%) translatey(-50%) translateZ(0) translate3d(0, 0, 0) scale(1, 1));
      @include transition(opacity 400ms ease);
      @include backface-visibility(hidden);
      @include filter(blur(0));

      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      width: 2em;
      height: 2em;
      background-color: $interface__background-color;
      font-family: $icon__font-family;
      font-size: modular-scale(1);
      text-align: center;
      content: "\f04b";
      opacity: 0.85;
      z-index: z-index(element--middleground);
    }
  }
}

.section__video--trigger {
  display: none;
}
