// Bundle Includes
// ======================================

.bundle-includes {

  .section__headings {
    margin: 0 0 $gutter-width;
  }

  .section__button-group {
    text-align: right;
  }
}

.bundle-includes__container {
  @include make-container;
}

.bundle-includes__list {
  @include make-row(true);
}

.bundle-includes__list-item {
  @include screen-md-min {
    @include make-col(6);
  }
  @include screen-lg-min {
    @include make-col(4);
  }
  @include make-col(12);

  padding-bottom: $gutter-width;
}
