// Call To Action
// ======================================

.call-to-action {

  .section__body {
    margin: 0 0 $gutter-width;
  }

  .section__button-group {
    @include button-group;

    text-align: inherit;

    .button {
      @include screen-sm-max {
        margin-bottom: $gutter-width / 2;
      }
    }
  }
}

.call-to-action__container {
  @include make-container;
}

.call-to-action__section-link {
  display: block;
  text-decoration: none;

  .section-height__large & {
    @include section-height(section-height-preset(large));
  }

  .section-height__medium & {
    @include section-height(section-height-preset(medium));
  }

  .section-height__small & {
    @include section-height(section-height-preset(small));
  }
}
