// Description
// ======================================

.description {

  &.section__column-layout__one-column {

    .description__wrapper {
      @include justify-content(center);
    }

    .section__headings,
    .section__content {
      @include screen-md-min {
        @include make-col(9);
      }
    }

    .section__headings {
      margin: 0 0 $gutter-width;
    }
  }

  .section__headings {
    @include screen-lg-min {
      @include make-col(5);
    }
    @include make-col(12);
    @include screen-md-min {
      padding-right: $gutter-width * 2;
    }
  }

  .section__content {
    @include screen-lg-min {
      @include make-col(7);
    }
    @include make-col(12);
  }

  .section__button-group {
    padding-top: $gutter-width;
  }
}

.description__container {
  @include make-container;
}

.description__wrapper {
  @include make-row(true);
}
