// Course Curriculum
// ======================================

.course-curriculum {

  .section__headings {
    margin: 0 0 $gutter-width * 2;
  }

  .course-curriculum__chapter-list {
    @include make-row(false);

    .course-curriculum__chapter {
      @include screen-md-min {
        padding-right: $gutter-width * 2;
      }

      padding-right: $gutter-width;
      padding-left: 0;
    }
  }

  .course-curriculum__chapter {
    @include screen-lg-min {
      @include make-col(6);
    }
    @include make-col(12);
    @include display(flex);

    padding-top: $gutter-width;
    padding-bottom: $gutter-width;
    border: $interface__border;
    line-height: 1;
  }

  .course-curriculum__chapter-number {
    padding: 0 $gutter-width;
    color: inherit;
    font-family: $heading__font-family;
    font-size: modular-scale(4);
    font-weight: bold;
    opacity: 0.8;
  }

  .course-curriculum__chapter-content-wrapper {
    @include flex-grow(1);

    overflow: hidden;
  }

  .course-curriculum__chapter-header {
    margin: 0;

    &.collapse {

      .course-curriculum__chapter-title {
        position: relative;
        white-space: nowrap;

        &:after {
          @include transition(opacity 400ms ease);

          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 65%;
          opacity: 1;
          z-index: z-index(element--background);
        }
      }

      .course-curriculum__chapter-collapse {

        &:after {
          content: "\f067";
        }
      }

      .course-curriculum__chapter-content {
        opacity: 0;
      }
    }
  }

  .course-curriculum__chapter-title {
    position: relative;
    margin: 0;
    padding-top: $gutter-width / 2.5;
    padding-right: $gutter-width;

    &:after {
      content: "";
      opacity: 0;
    }
  }

  .course-curriculum__chapter-collapse {
    position: absolute;
    top: $gutter-width / 2;
    right: 0;
    z-index: z-index(element--middleground);

    &:after {
      color: inherit;
      font-family: $icon__font-family;
      font-style: normal;
      content: "\f068";
    }
  }

  .course-curriculum__chapter-content {
    @include transition(opacity 400ms ease);

    margin-top: $gutter-width;
    padding: $gutter-width 0;
    border-top: $interface__border;
  }

  .course-curriculum__chapter-lesson {
    display: block;
    position: relative;

    &:active,
    &:focus,
    &:hover {
      text-decoration: none;
    }

    &--free {
      @include transform(translatey(-50%));

      position: absolute;
      top: 50%;
      right: 0;
      padding: 5px 8px;
      border-radius: 5px;
      background-color: $accent__color;
      color: dynamic-contrast-color($accent__color);
      font-size: modular-scale(-2);
    }

    i {
      display: inline-block;
      margin-right: 5px;
      color: $accent__color;
      font-size: modular-scale(1);
      vertical-align: sub;
    }
  }
}

.course-curriculum__container {
  @include make-container;
}

.course-curriculum__chapter-list {
  list-style: none;
}

.course-curriculum__chapter-header {
  position: relative;
  cursor: pointer;
}

.course-curriculum__chapter-content {
  list-style: none;

  a {
    @include section-color-preset-override(color);

    text-decoration: none;

    &:active,
    &:focus,
    &:hover {
      text-decoration: underline;
    }
  }

  li {
    position: relative;
    margin-bottom: 1em;
    padding-left: $gutter-width;
  }
}

.course-curriculum__chapter-lesson--free {
  display: inline-block;
  padding: 5px;
  font-size: .875rem;
  font-weight: bold;
  line-height: 1;
  text-transform: uppercase;

  .section-color-preset__primary & {
    background-color: $primary-text-color;
    color: dynamic-contrast-color($primary-text-color);
  }

  .section-color-preset__secondary & {
    background-color: $secondary-text-color;
    color: dynamic-contrast-color($secondary-text-color);
  }

  .section-color-preset__tertiary & {
    background-color: $tertiary-text-color;
    color: dynamic-contrast-color($tertiary-text-color);
  }
}
