// Showcase
// ======================================

.showcase {
  @include section-height(section-height-preset(large));
}

.showcase__list {
  @include make-row;
  @include justify-content(center);

  margin-right: $gutter-width / -2;
  margin-left: $gutter-width / -2;
}

.showcase__list-item {
  @include screen-md-min {
    @include make-col(4)
  }
  @include screen-lg-min {
    @include make-col(2);
  }
  @include make-col(12);

  margin: 0 0 $gutter-width;
}
