// Image & Text
// ======================================

.text-image {
  
  .section__content {
    @include make-row(true);
  }

  .section__button-group {
   padding-top: $gutter-width * 1.5;
 }
}

.text-image__container {
  @include make-container;
}

.text-image__body {
  @include make-col(12);

  &.has-image {
    @include make-col(6);
    @include screen-md-max {
      @include make-col(12);
      @include order(2);
    }
    @include screen-lg-min {
      padding-top: $gutter-width * 2;
      padding-right: $gutter-width * 2;
      padding-bottom: $gutter-width * 2;
    }
  }
}

.text-image__image {
  @include full-width-background;
  @include make-col(12);

  min-height: 420px !important;

  .text-image__body + & {
    @include make-col(6);
    @include screen-md-max {
      @include make-col(12);
      @include order(1);

      margin-bottom: $gutter-width;
    }

    padding-right: 0;
    padding-left: 0;
  }
}
