// Instructor (Legacy)
// ======================================

.instructor-legacy {
  @include section-height(section-height-preset(large));
}

.instructor-legacy__container {
  @include make-container;
}

.instructor-legacy__name,
.instructor-legacy__title {
  font-size: 1.125rem;
  font-weight: 400;
}

.instructor-legacy__name {
  margin-bottom: 1rem;
}

.instructor-legacy__avatar {
  display: inline-block;
  width: 8rem;
  height: 8rem;
  margin: 0 0 $gutter-width;
  border-radius: 50%;
}

.instructor-legacy__profile {
  @include screen-sm-max {
    text-align: center;
  }
  @include make-row(true);

  header {
    @include screen-md-min {
      @include make-col(3);
    }
    @include make-col(12);
  }
}

.instructor-legacy__bio {
  @include screen-md-min {
    @include make-col(9);
  }
  @include make-col(12);
}
