// Course Curriculum (Legacy)
// ======================================

.course-curriculum-legacy {
  @include section-height(section-height-preset(medium));

  .section__headings {
    margin: 0 0 $gutter-width * 2;
  }
}

.course-curriculum-legacy__container {
  @include make-container;
}

.course-curriculum-legacy__chapter-list {
  list-style: none;
}

.course-curriculum-legacy__chapter {
  margin: 0 0 $gutter-width * 1.5;
}

.course-curriculum-legacy__chapter-header {
  @include make-row(false);

  position: relative;
  margin-bottom: $gutter-width / 2;
  border-bottom: 1px solid $gray-1;
  cursor: pointer;

  &.collapse {

    i {
      &:after {
        @include transform(translate(2px, 2px) rotate(-140deg));
      }

      &:before {
        @include transform(translate(2px, -3px) rotate(140deg));
      }
    }
  }

  i {
    @include transform(translatey(-50%));

    display: inline-block;
    position: absolute;
    top: 50%;
    right: $gutter-width;
    height: 1em;

    &:before,
    &:after {
      @include transition(all 250ms ease);

      position: absolute;
      width: 3px;
      height: 9px;
      background-color: $heading__font-color;
      content: "";
    }

    &:before {
      @include transform(translate(2px, 0) rotate(45deg));
    }

    &:after {
      @include transform(translate(-2px, 0) rotate(-45deg));
    }
  }
}

.course-curriculum-legacy__chapter-number {
  display: none;
}

.course-curriculum-legacy__chapter-title {
  @include flex-grow(1);

  position: relative;
}

.course-curriculum-legacy__chapter-content {
  list-style: none;

  a {
    color: $heading__font-color;
    text-decoration: none;

    &:active,
    &:focus,
    &:hover {
      text-decoration: underline;
    }
  }

  li {
    position: relative;
    padding-left: $gutter-width;

    &:before {
      @include transform(translatey(-50%));

      display: inline-block;
      position: absolute;
      top: 50%;
      left: 10px;
      width: 6px;
      height: 6px;
      border-radius: 50%;
      background-color: $heading__font-color;
      content: "";

    }
  }
}

.course-curriculum-legacy__chapter-lesson--free {
  display: inline-block;
  margin-left: 5px;
  padding: 5px;
  border-radius: 3px;
  background-color: $heading__font-color;
  color: dynamic-text-color($heading__font-color);
  font-size: .875rem;
  font-weight: bold;
  line-height: 1;
  text-transform: uppercase;
}
