// Theme Style: Elegance
// ======================================

// Mixins
@mixin subheading-ornament {
  position: relative;

  &:before {
    display: block;
    position: relative;
    width: 1.5rem;
    height: 3px;
    margin-bottom: $gutter-width / 2;
    content: "";
  }
}

// Overrides
.section-color-preset__banner {

  .section__subheading {

    &:before {
      background-color: $banner-subheading-color;
    }
  }
}

.section-color-preset__primary {

  .section__subheading {

    &:before {
      background-color: $accent__color;
    }
  }
}


.section-color-preset__secondary {

  .section__subheading {

    &:before {
      background-color: $accent__color;
    }
  }
}


.section-color-preset__tertiary {

  .section__subheading {

    &:before {
      background-color: $accent__color;
    }
  }
}


// Sections
.banner {

  .section__subheading {
    @include subheading-ornament;
  }
}

.bonus {

  .section__subheading {
    @include subheading-ornament;
  }
}

.call-to-action {

  .section__subheading {
    @include subheading-ornament;
  }
}

.description {

  [class*="__container"] {

    &:before {
      @include screen-lg-min {
        left: 30%;
      }

      display: block;
      position: absolute;
      top: 0;
      right: -100%;
      bottom: 0;
      left: -100%;
      background-color: gray-scale(0);
      content: "";
      z-index: 0;
    }
  }

  .section__subheading {
    @include subheading-ornament;
  }
}

.pricing-table {

  .section__subheading {
    @include subheading-ornament;
  }
}

.testimonials {

  .testimonials__container {

    &:before {
      @include screen-md-min {
        right: 5.5%;
      }
      @include screen-lg-min {
        right: 40%;
      }

      display: block;
      position: absolute;
      top: 0;
      right: -100%;
      bottom: 0;
      left: -100%;
      background-color: gray-scale(0);
      content: "";
      z-index: 0;
    }
  }

  .section__headings {
    position: relative;
    z-index: 1;
  }
}
