// Theme Style: Starter
// ======================================

// Colors
$blue: #1d9be9;
$purple: #6659B0;

// Section Background Presets
.section-color-preset__banner {
  @include background-image(linear-gradient(136deg, $blue 0%, $purple 100%, $blue 100%, $black 100%));

  background-color: transparent;
}

// Page Header
.header__nav-cta {

  .button {

    header[class="header floating"] & {

      border-color: $white;
      background-color: transparent;
      color: $white !important;

      &:active,
      &:focus,
      &:hover {
        background-color: $white;
        color: $purple !important;
      }
    }
  }
}
