<main class="checkout checkout__thankyou" id="{{ theme.settings.main_content_id }}">
  {% section 'checkout_thankyou' %}
  {{ content_for_page }}
</main>

{% schema %}
{
  "description": "The upsells [smart section] can be previewed for each specific course or bundle in its after purchase settings. <a href='/manage/courses/' target='_blank'>Go to your courses</a>.",
  "sections":{
    "options":[
      "banner",
      "checkout_thankyou_upsells",
      "course_cards",
      "frequently_asked_questions",
      "call_to_action",
      "countdown",
      "video"
    ],
    "defaults":[
      "checkout_thankyou_upsells"
    ]
  }
}
{% endschema %}
