{% comment %}
  Shows a list of all your courses based on a search or filters. This
  is a course and/or bundle catalog page that has been filtered by category
{% endcomment %}

<main class="collection" id="main-content" role="main">
  <div class="collection__container">
    <h1 class="collection__heading">{{ collection.name }}</h1>
    {% include 'products_search' %}
    {% if page.has_search_query %}
      {% include 'products_search_query' %}
    {% endif %}
    {% if page.has_products %}
      {% include 'products_card_list' %}
    {% else %}
      <p class="products__list-no-results">
        {{ 'liquid.views.collection_show.text_no_results' | translate }}
      </p>
    {% endif %}
  </div>
  {{ content_for_page }}
</main>

{% schema %}
{
  "sections":{
    "options":[
      "course_cards",
      "call_to_action",
      "countdown_timer"
    ],
    "defaults":[
      "course_cards",
      "call_to_action",
      "countdown_timer"
    ]
  }
}
{% endschema %}

{% include 'collection_pages_footer_scripts' %}
