<main class="collections" id="{{ theme.settings.main_content_id }}">
  <h1>{{ 'liquid.views.collections_landing_page.header_courses' | translate }}</h1>
  {% section 'collections' %}
  {{ content_for_page }}
</main>

{% schema %}
{
  "sections":{
    "options":[
      "course_cards",
      "call_to_action",
      "countdown",
      "frequently_asked_questions",
      "rich_text",
      "video"
    ],
    "defaults":[]
  }
}
{% endschema %}
