{% if page.course.coupon_supported and page.coupon_code_provided %}
  {% include 'product__coupon' %}
{% endif %}

<main class="course" id="{{ theme.settings.main_content_id }}">
  {{ content_for_page }}
</main>

{% schema %}
{
  "sections":{
    "options":[
      "course_cards",
      "banner_course",
      "bonus",
      "call_to_action",
      "checklist",
      "course_categories_all",
      "course_categories",
      "course_curriculum",
      "countdown",
      "frequently_asked_questions",
      "gallery",
      "image_and_text",
      "instructor",
      "lead_capture",
      "pricing_options",
      "pricing_table",
      "reviews",
      "showcase",
      "testimonials",
      "icon_and_text",
      "description",
      "rich_text",
      "upsells",
      "video"
    ],
    "defaults":[
      "banner_course",
      "course_curriculum"
    ]
  }
}
{% endschema %}

{{ page.landing_page_code }}
