{% comment %}
  This template is used to host your custom pages
{% endcomment %}

<main class="custom" id="main-content" role="main">
  <div class="custom__container">
    {{ page.content }}
  </div>
</main>
