<div class="my-account">
  {% include 'my_account__banner' %}
  <aside>
    {% include 'my_account__menu' %}
  </aside>
  <main id="{{ theme.settings.main_content_id }}">
    <h1>{{ 'liquid.views.my_account_credit_card_page.header_title' | translate }}</h1>
    {{ page.my_account_credit_card_form }}
  </main>
</div>
