<main class="password-reset" id="{{ theme.settings.main_content_id }}">
  <h1>{{ 'liquid.views.password_reset_sent_page.title_reset_password' | translate }}</h1>
  <p>
    {{ 'liquid.views.password_reset_sent_page.text_1' | translate }}
    {{ 'liquid.views.password_reset_sent_page.text_2' | translate }}
  </p>
</main>
