{% comment %}
  This page displays the message for successfully requesting a password reset
{% endcomment %}

<main class="password-reset" id="main-content" role="main">
  <div class="container">
    <div class="row">
      <article  class="password-reset__sent">
        <h1 class="page__heading">{{ 'liquid.views.password_reset_sent_page.title_reset_password' | translate }}</h1>
        <p>
          {{ 'liquid.views.password_reset_sent_page.text_1' | translate }}
          {{ 'liquid.views.password_reset_sent_page.text_2' | translate }}
        </p>
      </article>
    </div>
  </div>
</main>
