{% layout 'prelaunch' %}

<main class="prelaunch" id="main-content" role="main">
  <div class="prelaunch__container">
    <div class="prelaunch__wrapper">
      <article class="prelaunch__thank-you">
        <h1 class="prelaunch__heading">Thank you!</h1>
        <p class="prelaunch__subheading">We'll be in touch with you soon.</p>
      </article>
    </div>
  </div>
</main>
