{% comment %}
  This is the page students will see when they log in. It shows their all of
  the courses they have taken, and lets them filter by
  Completed, In Progress or Expired.
{% endcomment %}

<main class="student-dashboard" id="main-content" role="main">
  <section class="student-dashboard__banner">
    <div class="student-dashboard__container">
      <h4>{{ 'liquid.views.student_dashboard.header_dashboard' | translate }}, {{ site.current_user.first_name_last_initial }}</h4>
    </div>
  </section>
  {% section 'student_dashboard' %}
  {{ content_for_page }}
</main>

{% schema %}
{
  "sections":{
    "options":[
      "course_cards",
      "call_to_action",
      "countdown",
      "frequently_asked_questions",
      "rich_text",
      "video"
    ],
    "defaults":[
      "course_cards",
      "call_to_action",
      "countdown"
    ]
  }
}
{% endschema %}

{% include 'dashboard_footer_scripts' %}
