<section class="banner-legacy
{% include 'section_utility_background_image' %}
{% include 'section_utility_color_preset' %}
{% include 'section_utility_has_video' %}
{% include 'section_utility_height_preset' %}" data-preview-item="banner-legacy">
  <div class="banner-legacy__container">
    <div class="banner-legacy__wrapper">
      {% if section.settings.video.frame != blank %}
        <section class="section__video">
          {{ section.settings.video.frame }}
        </section>
      {% endif %}
      <article class="section__content">
        {% if section.settings.title != blank section.settings.subtitle != blank %}
          <header class="section__headings">
            {% if section.settings.title != blank %}
              <h1 class="section__heading">{{ section.settings.title }}</h1>
            {% endif %}
            {% if section.settings.subtitle != blank %}
              <h2 class="section__subheading">{{ section.settings.subtitle }}</h2>
            {% endif %}
          </header>
        {% endif %}
        {% include 'product_action_buttons' %}
        {% if section.settings.video.popover != blank %}
          <section class="section__video--mobile">
            {{ section.settings.video.popover }}
          </section>
        {% endif %}
      </article>
    </div>
  </div>
</section>

{% style %}

section.banner-legacy {
  {% include 'section_style_background_image_legacy' %}
  {% include 'section_style_content_alignment' %}
}

{% endstyle %}

{% schema %}
{
  "label":"Banner",
  "settings":[
    {
      "label":"Headings",
      "settings":[
        {
          "type":"text",
          "id":"title",
          "label":"Title",
          "default":"Your first course"
        },
        {
          "type":"text",
          "id":"subtitle",
          "label":"Subtitle",
          "default":"Get more detailed about your course here!"
        }
      ]
    },
    {
      "label":"Content alignment",
      "settings":[
        {
          "type":"radio",
          "id":"content_alignment",
          "label":"",
          "default":"left",
          "options":[
            {
              "value":"left",
              "label":"Left"
            },
            {
              "value":"center",
              "label":"Center"
            },
            {
              "value":"right",
              "label":"Right"
            }
          ]
        }
      ]
    },
    {
      "label":"Video",
      "settings":[
        {
          "type":"video",
          "id":"video",
          "label":"Video",
          "description":"Navigate to the <a href='/manage/videos' target='_blank'>Video Library</a> section of your Dashboard to add additional videos",
          "default":{
            "id":false,
            "type":"",
            "url":"",
            "identifier":"",
            "frame":"",
            "popover":"",
            "oembed":false
          },
          "description":"Include an intro video beside your course title"
        }
      ]
    },
    {
      "label":"Background",
      "settings":[
        {
          "type":"select",
          "id":"background_color_preset",
          "label":"Choose color set",
          "description":"Color sets can be configured in the Design area.",
          "default":"banner",
          "options":[
            {
              "value":"banner",
              "label":"Banner"
            },
            {
              "value":"primary",
              "label":"Primary"
            },
            {
              "value":"secondary",
              "label":"Secondary"
            },
            {
              "value":"tertiary",
              "label":"Tertiary"
            }
          ]
        },
        {
          "type":"image",
          "id":"background_image",
          "default":"",
          "label":"Image",
          "description": "Suggested dimensions: 1440x500px"
        },
        {
          "type":"color",
          "id":"background_color",
          "label":"Overlay color",
          "default":"#D9DEE2"
        },
        {
          "type":"number",
          "id":"background_overlay",
          "label":"Overlay opacity",
          "default":0,
          "min":0,
          "max":100
        }
      ]
    },
    {
      "label":"Section height",
      "settings":[
        {
          "type":"select",
          "id":"section_height_preset",
          "label":"Height preset",
          "description":"",
          "default":"banner",
          "options":[
            {
              "value":"small",
              "label":"Small"
            },
            {
              "value":"medium",
              "label":"Medium"
            },
            {
              "value":"large",
              "label":"Large"
            },
            {
              "value":"banner",
              "label":"Banner"
            }
          ]
        }
      ]
    }
  ]
}
{% endschema %}
