<section class="banner-legacy
{% include 'section_utility_background_image' %}
{% include 'section_utility_has_video' %}
{% include 'section_utility_height_preset' %}" data-preview-item="banner-legacy">
  <div class="banner-legacy__container">
    <div class="banner-legacy__wrapper">
      {% if section.settings.video.frame != blank %}
        <section class="section__video">
          {{ section.settings.video.frame }}
        </section>
      {% endif %}
      <article class="section__content">
        {% if section.settings.title != blank section.settings.subtitle != blank %}
          <header class="section__headings">
            {% if section.settings.title != blank %}
              <h1 class="section__heading">{{ section.settings.title }}</h1>
            {% endif %}
            {% if section.settings.subtitle != blank %}
              <h2 class="section__subheading">{{ section.settings.subtitle }}</h2>
            {% endif %}
          </header>
        {% endif %}
        {% include 'product_action_buttons' %}
        {% if section.settings.video.popover != blank %}
          <section class="section__video--mobile">
            {{ section.settings.video.popover }}
          </section>
        {% endif %}
      </article>
    </div>
  </div>
</section>

{% style %}

section.banner-legacy {
  {% include 'section_style_background_image_legacy' %}
  {% include 'section_style_content_alignment' %}
}

{% endstyle %}

{% schema %}
{
  "label":"Banner",
  "settings":[
    {
      "label":"Headings",
      "settings":[
        {
          "type":"text",
          "id":"title",
          "label":"Title",
          "default":"Banner"
        },
        {
          "type":"text",
          "id":"subtitle",
          "label":"Subtitle",
          "default":"Your banner contains a hero image with text overlay. You can also add call to action buttons."
        },
        {
          "type":"color",
          "id":"text_color",
          "label":"Text color",
          "default":"#{$heading__color}"
        }
      ]
    },
    {
      "label":"Video",
      "settings":[
        {
          "type":"video",
          "id":"video",
          "label":"Video",
          "description":"<small>Upload videos to your Thinkific site in the <a href='/manage/videos' target='_blank'>Video Library</a>.</small>",
          "default":{
            "id":false,
            "type":"",
            "url":"",
            "identifier":"",
            "frame":"",
            "popover":"",
            "oembed":false
          }
        }
      ]
    },
    {
      "label":"Hero Image",
      "settings":[
        {
          "type":"image",
          "id":"background_image",
          "default":"https://cdn.thinkific.com/13/20180118/36f8ac8164b76893395884088321023a.png",
          "label":"Image",
          "description":"<small>Recommended: <strong>1440px x 720px (1MB)</strong></small>"
        },
        {
          "type":"color",
          "id":"background_color",
          "label":"Overlay color",
          "default":"#D9DEE2"
        },
        {
          "type":"number",
          "id":"background_overlay",
          "label":"Overlay opacity",
          "default":0,
          "min":0,
          "max":100
        }
      ]
    },
    {
      "label":"Size & Alignment",
      "settings":[
        {
          "type":"select",
          "id":"section_height_preset",
          "label":"Height",
          "description":"",
          "default":"banner",
          "options":[
            {
              "value":"small",
              "label":"Small"
            },
            {
              "value":"medium",
              "label":"Medium"
            },
            {
              "value":"large",
              "label":"Large"
            },
            {
              "value":"banner",
              "label":"Banner"
            }
          ]
        },
        {
          "type":"radio",
          "id":"content_alignment",
          "label":"Alignment",
          "default":"left",
          "options":[
            {
              "value":"left",
              "label":"Left"
            },
            {
              "value":"center",
              "label":"Center"
            },
            {
              "value":"right",
              "label":"Right"
            }
          ]
        }
      ]
    }
  ]
}
{% endschema %}
