<section class="bonus
{% include 'section_utility_color_preset' %}
{% include 'section_utility_height_preset' %}" data-preview-item="bonus">
  <div class="bonus__container">
    <div class="bonus__wrapper">
      {% include 'section_headings' %}
      <article class="section__content">
        {% if section.blocks != empty %}
          <ul class="bonus__list section__body">
            {% for block in section.blocks %}
              <li class="bonus__list-item">
                <h4>{{ block.settings.bonus_name }}</h4>
                <h5>{{ block.settings.bonus_value }}</h5>
                <p>{{ block.settings.bonus_body }}</p>
              </li>
            {% endfor %}
          </ul>
        {% endif %}
      </article>
    </div>
  </div>
</section>

{% style %}

section.bonus {

  {% include 'section_style_heading_order' %}
  {% include 'section_style_heading_ornament' %}

  .section__heading,
  .section__subheading {
    text-align: {{ section.settings.heading_alignment }};
  }

  {% if section.settings.heading_alignment == "center" %}
    .section__subheading:before {
      margin-right: auto;
      margin-left: auto;
    }
  {% endif %}
}

{% endstyle %}

{% schema %}
{
  "label":"Bonus",
  "settings":[
    {
      "label":"Headings",
      "settings":[
        {
          "type":"text",
          "id":"heading",
          "label":"Heading",
          "default":"Bonus material"
        },
        {
          "type":"text",
          "id":"subheading",
          "label":"Subheading",
          "default":"Still not convinced? Here's some free stuff."
        },
        {
          "type":"radio",
          "id":"heading_alignment",
          "label":"Alignment",
          "description":"",
          "default":"left",
          "options":[
            {
              "value":"left",
              "label":"Left"
            },
            {
              "value":"center",
              "label":"Center"
            },
            {
              "value":"right",
              "label":"Right"
            }
          ]
        },
        {
          "type":"radio",
          "id":"heading_order",
          "label":"Order",
          "default":"default",
          "options":[
            {
              "value":"default",
              "label":"Default"
            },
            {
              "value":"flipped",
              "label":"Flipped"
            }
          ]
        },
        {
          "type":"checkbox",
          "id":"show_heading_ornament",
          "label":"Show ornament",
          "default":false
        }
      ]
    },
    {
      "label":"Background",
      "settings":[
        {
          "type":"select",
          "id":"background_color_preset",
          "label":"Choose color set",
          "description":"Color sets can be configured in the Design area.",
          "default":"primary",
          "options":[
            {
              "value":"primary",
              "label":"Primary"
            },
            {
              "value":"secondary",
              "label":"Secondary"
            },
            {
              "value":"tertiary",
              "label":"Tertiary"
            }
          ]
        }
      ]
    },
    {
      "label":"Section height",
      "settings":[
        {
          "type":"select",
          "id":"section_height_preset",
          "label":"Height preset",
          "description":"",
          "default":"medium",
          "options":[
            {
              "value":"small",
              "label":"Small"
            },
            {
              "value":"medium",
              "label":"Medium"
            },
            {
              "value":"large",
              "label":"Large"
            }
          ]
        }
      ]
    }
  ],
  "blocks":{
    "label":"Add bonus",
    "limit":3,
    "types":[
      {
        "type":"bonus",
        "label":"Bonus",
        "settings":[
          {
            "type":"text",
            "id":"bonus_name",
            "label":"Name"
          },
          {
            "type":"text",
            "id":"bonus_value",
            "label":"Value"
          },
          {
            "type":"textarea",
            "id":"bonus_body",
            "label":"Description"
          }
        ]
      }
    ],
    "defaults":[
      {
        "type":"bonus",
        "values":{
          "bonus_name":"Free LinkedIn certification",
          "bonus_value":"$100 value",
          "bonus_body":"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse dapibus, nunc ac tincidunt venenatis, mauris elit tempus est, id vulputate ipsum sapien quis nisl. Fusce porta magna mi, eu efficitur velit pulvinar a. Nullam et arcu viverra, tincidunt libero in, efficitur diam."
        }
      },
      {
        "type":"bonus",
        "values":{
          "bonus_name":"Free digital marketing E-book",
          "bonus_value":"500 pages of expertise",
          "bonus_body":"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse dapibus, nunc ac tincidunt venenatis, mauris elit tempus est, id vulputate ipsum sapien quis nisl. Fusce porta magna mi, eu efficitur velit pulvinar a. Nullam et arcu viverra, tincidunt libero in, efficitur diam."
        }
      }
    ]
  }
}
{% endschema %}
