<section class="bonus
{% include 'section_utility_column_layout' %}" data-preview-item="bonus">
  <div class="bonus__container">
    <div class="bonus__wrapper">
      {% include 'section_headings' %}
      <article class="section__content">
        {% if section.blocks != empty %}
          <ul class="bonus__list section__body">
            {% for block in section.blocks %}
              <li class="bonus__list-item">
                <h4>{{ block.settings.bonus_name }}</h4>
                <h5>{{ block.settings.bonus_value }}</h5>
                <p>{{ block.settings.bonus_body }}</p>
              </li>
            {% endfor %}
          </ul>
        {% endif %}
      </article>
    </div>
  </div>
</section>

{% style %}

section.bonus {
  {% include 'section_style_column_layout' %}
  {% include 'section_style_heading_alignment' %}
  {% include 'section_style_heading_order' %}
  {% include 'section_style_heading_ornament' %}
}

{% endstyle %}

{% schema %}
{
  "label":"Bonus material",
  "settings":[
    {
      "label":"Headings",
      "settings":[
        {
          "type":"text",
          "id":"heading",
          "label":"Heading",
          "default":"Bonus material"
        },
        {
          "type":"text",
          "id":"subheading",
          "label":"Subheading",
          "default":"Include additional content to your course curriculum to provide further value to your students."
        },
        {
          "type":"radio",
          "id":"heading_alignment",
          "label":"Alignment",
          "description":"",
          "default":"left",
          "options":[
            {
              "value":"left",
              "label":"Left"
            },
            {
              "value":"center",
              "label":"Center"
            },
            {
              "value":"right",
              "label":"Right"
            }
          ]
        }
      ]
    },
    {
      "label":"Layout",
      "settings":[
        {
          "type":"radio",
          "id":"column_layout",
          "label":"",
          "description":"",
          "default":"two-column",
          "options":[
            {
              "value":"one-column",
              "label":"One Column"
            },
            {
              "value":"two-column",
              "label":"Two Column"
            }
          ]
        }
      ]
    }
  ],
  "blocks":{
    "label":"Add bonus",
    "limit":3,
    "types":[
      {
        "type":"bonus",
        "label":"Bonus",
        "settings":[
          {
            "type":"text",
            "id":"bonus_name",
            "label":"Name"
          },
          {
            "type":"text",
            "id":"bonus_value",
            "label":"Value"
          },
          {
            "type":"textarea",
            "id":"bonus_body",
            "label":"Description"
          }
        ]
      }
    ],
    "defaults":[
      {
        "type":"bonus",
        "values":{
          "bonus_name":"Bonus material",
          "bonus_value":"$100 value",
          "bonus_body":"Explain the value your additional content will bring to a student’s overall learning experience. Use this opportunity to sell potential students on the extra benefits your bonus material provides."
        }
      },
      {
        "type":"bonus",
        "values":{
          "bonus_name":"Bonus material",
          "bonus_value":"$100 value",
          "bonus_body":"Explain the value your additional content will bring to a student’s overall learning experience. Use this opportunity to sell potential students on the extra benefits your bonus material provides."
        }
      },
      {
        "type":"bonus",
        "values":{
          "bonus_name":"Bonus material",
          "bonus_value":"$100 value",
          "bonus_body":"Explain the value your additional content will bring to a student’s overall learning experience. Use this opportunity to sell potential students on the extra benefits your bonus material provides."
        }
      }
    ]
  }
}
{% endschema %}
