<section class="bundle-includes {% if section.settings.background_color_preset != 'none' and section.settings.background_color_preset != blank %}{{ section.settings.background_color_preset | prepend: 'section-color-preset__' }}{% endif %}" data-preview-item="bundle-includes">
  <div class="bundle-includes__container">
    <header class="section__headings">
      {% if section.settings.heading != blank %}
        <h3 class="section__heading">{{ section.settings.heading }}</h3>
        {% if section.settings.subheading != blank %}
          <h4 class="section__subheading">{{ section.settings.subheading }}</h4>
        {% endif %}
      {% endif %}
    </header>
    <article class="section__content">
      {% include 'bundle_courses' with bundle %}
    </article>
  </div>
</section>

{% style %}

section.bundle-includes {

  .section__heading,
  .section__subheading {
    text-align: {{ section.settings.heading_alignment }};
  }

  {% if section.settings.heading_alignment == "center" %}
    .section__subheading:before {
      margin-right: auto;
      margin-left: auto;
    }
  {% endif %}
}

{% endstyle %}

{% schema %}
{
  "label":"Bundle Includes",
  "settings":[
    {
      "label":"Headings",
      "settings":[
        {
          "type":"text",
          "id":"heading",
          "label":"Heading",
          "default":"Included courses"
        },
        {
          "type":"text",
          "id":"subheading",
          "label":"Subheading",
          "default":""
        },
        {
          "type":"radio",
          "id":"heading_alignment",
          "label":"Alignment",
          "description":"Headings will inherit the same alignment",
          "default":"left",
          "options":[
            {
              "value":"left",
              "label":"Left"
            },
            {
              "value":"center",
              "label":"Center"
            },
            {
              "value":"right",
              "label":"Right"
            }
          ]
        }
      ]
    },
    {
      "label":"Background",
      "settings":[
        {
          "type":"select",
          "id":"background_color_preset",
          "label":"Color Preset",
          "description":"Presets can be configured in the Colors configuration menu",
          "default":"primary",
          "options":[
            {
              "value":"none",
              "label":"None"
            },
            {
              "value":"primary",
              "label":"Primary"
            },
            {
              "value":"secondary",
              "label":"Secondary"
            },
            {
              "value":"tertiary",
              "label":"Tertiary"
            }
          ]
        }
      ]
    }
  ]
}
{% endschema %}
