<section class="call-to-action-legacy
{% include 'section_utility_background_image' %}
{% include 'section_utility_height_preset' %}" data-preview-item="call-to-action-legacy">
  <div class="call-to-action-legacy__container">
    <div class="call-to-action-legacy__wrapper">
      <article class="section__content">
        {% if section.settings.description_text != blank %}
          <section class="section__body">
            {{ section.settings.description_text }}
          </section>
        {% endif %}
        {% if section.settings.price != blank %}
          {% assign button_href = section.settings.price.links.add_to_cart %}
        {% else %}
          {% assign button_href = '#' %}
        {% endif %}
        <a class="button button-primary" href="{{ button_href }}">{{ section.settings.button_text }}</a>
      </article>
    </div>
  </div>
</section>

{% style %}

section.call-to-action-legacy {
  {% include 'section_style_background_image_legacy' %}
  {% include 'section_style_content_alignment' %}
}
{% endstyle %}

{% schema %}
{
  "label": "Call to action",
  "settings": [
    {
      "label": "Call to action",
      "settings": [
        {
          "type": "textarea",
          "id": "description_text",
          "label": "Description",
          "default": "<h3>Use your Call To Action description to encourage students to sign up for your course</h3>"
        },
        {
          "type": "text",
          "id": "button_text",
          "label": "Button text",
          "default": "Sign up now!"
        },
        {
          "type": "price_picker",
          "id": "price",
          "label": "Button link",
          "description": "Link your Call To Action button to one of your course prices"
        }
      ]
    },
    {
      "label":"Background",
      "settings":[
        {
          "type":"image",
          "id":"background_image",
          "default":"",
          "label":"Image"
        },
        {
          "type":"color",
          "id":"background_color",
          "label":"Overlay color",
          "default":"#D9DEE2"
        },
        {
          "type":"number",
          "id":"background_overlay",
          "label":"Overlay opacity",
          "default":0,
          "min":0,
          "max":100
        }
      ]
    },
    {
      "label":"Size & Alignment",
      "settings":[
        {
          "type":"select",
          "id":"section_height_preset",
          "label":"Height",
          "description":"",
          "default":"large",
          "options":[
            {
              "value":"small",
              "label":"Small"
            },
            {
              "value":"medium",
              "label":"Medium"
            },
            {
              "value":"large",
              "label":"Large"
            }
          ]
        },
        {
          "type":"radio",
          "id":"content_alignment",
          "label":"Content alignment",
          "default":"center",
          "options":[
            {
              "value":"left",
              "label":"Left"
            },
            {
              "value":"center",
              "label":"Center"
            },
            {
              "value":"right",
              "label":"Right"
            }
          ]
        }
      ]
    }
  ]
}
{% endschema %}
