{% include 'product__search_form' %}
{% if page.has_search_query %}
  {% include 'product__search_results' %}
{% endif %}
{% if page.has_products %}
  {% include 'product__card_list' %}
{% else %}
  <p>
    {{ 'liquid.views.collections_index.text_no_results' | translate }}
  </p>
{% endif %}

{% schema %}
{
  "label":"Default",
  "description":"This is a default section — the foundation of your Thinkific site.  While this section is not editable, you can customize this page by adding new sections.",
  "settings":[
    {
      "type":"radio",
      "id":"card_alignment",
      "label":"Card alignment",
      "description":"",
      "default":"left",
      "options":[
        {
          "value":"left",
          "label":"Left"
        },
        {
          "value":"center",
          "label":"Center"
        },
        {
          "value":"right",
          "label":"Right"
        }
      ]
    }
  ]
}
{% endschema %}
