<section class="course-categories section-height__medium" data-preview-item="course-categories">
  <div class="course-categories__container">
    {% include 'section_headings' %}
    <article class="section__content">
      {% include 'products_category_list' %}
    </article>
  </div>
</section>

{% style %}

section.course-categories {
  {% include 'section_style_heading_alignment' %}
  {% include 'section_style_heading_order' %}
  {% include 'section_style_heading_ornament' %}
}

{% endstyle %}

{% schema %}
{
  "label":"Course categories",
  "settings":[
    {
      "label":"Headings",
      "settings":[
        {
          "type":"text",
          "id":"heading",
          "label":"Heading",
          "default":"Course Categories"
        },
        {
          "type":"text",
          "id":"subheading",
          "label":"Subheading",
          "default":""
        },
        {
          "type":"radio",
          "id":"heading_alignment",
          "label":"Alignment",
          "description":"",
          "default":"center",
          "options":[
            {
              "value":"left",
              "label":"Left"
            },
            {
              "value":"center",
              "label":"Center"
            },
            {
              "value":"right",
              "label":"Right"
            }
          ]
        }
      ]
    }
  ]
}
{% endschema %}
