<section class="course-cards" data-preview-item="course-cards">
  <div class="course-cards__container">
    {% include 'section_headings' %}
    <article class="section__content">
      {% if section.blocks != empty %}
        <ul class="course-cards__list section__body">
          {% for block in section.blocks %}
            {% assign product = block.settings.course_card %}
            {% if product.is_course %}
              {% assign course = product.course %}
              <li class="course-cards__list-item">
                {% include 'course_card' with course %}
              </li>
            {% else %}
              {% assign bundle = product.bundle %}
              <li class="course-cards__list-item">
              {% include 'bundle_card' with bundle %}
              </li>
            {% endif %}
          {% endfor %}
        </ul>
      {% endif %}
    </article>
  </div>
</section>

{% style %}

section.course-cards {
  {% include 'section_style_heading_alignment' %}
  {% include 'section_style_heading_order' %}
  {% include 'section_style_heading_ornament' %}
}

{% endstyle %}

{% schema %}
{
  "label":"Course cards",
  "settings":[
    {
      "label":"Headings",
      "settings":[
        {
          "type":"text",
          "id":"heading",
          "label":"Heading",
          "default":"Recommended courses"
        },
        {
          "type":"text",
          "id":"subheading",
          "label":"Subheading",
          "default":""
        },
        {
          "type":"radio",
          "id":"heading_alignment",
          "label":"Alignment",
          "description":"",
          "default":"center",
          "options":[
            {
              "value":"left",
              "label":"Left"
            },
            {
              "value":"center",
              "label":"Center"
            },
            {
              "value":"right",
              "label":"Right"
            }
          ]
        }
      ]
    }
  ],
  "blocks":{
    "label":"Course cards",
    "limit":12,
    "types":[
      {
        "type":"course_card",
        "label":"Course card",
        "settings":[
          {
            "type":"product_picker",
            "id":"course_card",
            "label":""
          }
        ]
      }
    ],
    "defaults":[]
  }
}
{% endschema %}
