<section class="course-cards-all" data-preview-item="course-cards-all">
  <ul>
    {% assign card_limit = section.settings.course_card_limit %}
    {% for product in page.products limit: card_limit %}
      <li>
        {% if product.is_course %}
          {% assign course = product.course %}
          {% include 'product__card__course' with course %}
        {% else %}
          {% assign bundle = product.bundle %}
          {% include 'product__card__bundle' with bundle %}
        {% endif %}
      </li>
    {% endfor %}
  </ul>
  {% if section.settings.show_button %}
    <a href="{{ site.collections_url }}">{{ section.settings.button_text }}</a>
  {% endif %}
</section>

{% schema %}
{
  "label":"All products [smart section]",
  "description":"This smart section includes all of your published products that you haven’t set as hidden. <a href='/manage/courses/list/' target='_blank'>Re-order products »</a>",
  "settings":[
    {
      "type":"select",
      "id":"course_card_limit",
      "label":"Max number of cards",
      "description":"",
      "default":3,
      "options":[
        {
          "value":3,
          "label":"3"
        },
        {
          "value":6,
          "label":"6"
        },
        {
          "value":9,
          "label":"9"
        },
        {
          "value":12,
          "label":"12"
        },
        {
          "value":15,
          "label":"15"
        }
      ]
    },
    {
      "label":"Headings",
      "settings":[
        {
          "type":"text",
          "id":"heading",
          "label":"Heading",
          "default":"All products"
        },
        {
          "type":"text",
          "id":"subheading",
          "label":"Subheading",
          "default":""
        }
      ]
    },
    {
      "label":"Button",
      "settings":[
        {
          "type":"checkbox",
          "id":"show_button",
          "label":"Show link to All Courses page",
          "default":true
        },
        {
          "type":"text",
          "id":"button_text",
          "label":"Text",
          "default":"View more courses"
        },
        {
          "type":"radio",
          "id":"button_type",
          "label":"Type",
          "description":"",
          "default":"primary",
          "options":[
            {
              "value":"primary",
              "label":"Primary"
            },
            {
              "value":"secondary",
              "label":"Secondary"
            }
          ]
        }
      ]
    },
    {
      "label":"Layout",
      "settings":[
        {
          "type":"checkbox",
          "id":"section_padding_top",
          "label":"Remove top section padding",
          "default":false
        },
        {
          "type":"checkbox",
          "id":"section_padding_bottom",
          "label":"Remove bottom section padding",
          "default":false
        },
        {
          "type":"radio",
          "id":"card_alignment",
          "label":"Card alignment",
          "description":"",
          "default":"left",
          "options":[
            {
              "value":"left",
              "label":"Left"
            },
            {
              "value":"center",
              "label":"Center"
            },
            {
              "value":"right",
              "label":"Right"
            }
          ]
        },
        {
          "type":"radio",
          "id":"heading_alignment",
          "label":"Heading alignment",
          "description":"",
          "default":"center",
          "options":[
            {
              "value":"left",
              "label":"Left"
            },
            {
              "value":"center",
              "label":"Center"
            },
            {
              "value":"right",
              "label":"Right"
            }
          ]
        }
      ]
    }
  ]
}
{% endschema %}
