<section class="faq" data-preview-item="faq">
  {% if section.blocks != empty %}
    <ul>
      {% for block in section.blocks %}
        <li>
          <input type="checkbox" {% if !section.settings.show_collapsed %} checked="checked" {% endif %} aria-label="Expand or collapse"/>
          <strong>
            {{ block.settings.faq_question }}
          </strong>
          <p>{{ block.settings.faq_answer }}</p>
        </li>
      {% endfor %}
    </ul>
  {% endif %}
</section>

{% schema %}
{
  "label":"Frequently asked questions",
  "settings":[
    {
      "label":"Headings",
      "settings":[
        {
          "type":"text",
          "id":"heading",
          "label":"Heading",
          "default":"FAQ"
        },
        {
          "type":"text",
          "id":"subheading",
          "label":"Subheading",
          "default":""
        },
        {
          "type":"radio",
          "id":"heading_alignment",
          "label":"Alignment",
          "description":"",
          "default":"left",
          "options":[
            {
              "value":"left",
              "label":"Left"
            },
            {
              "value":"center",
              "label":"Center"
            },
            {
              "value":"right",
              "label":"Right"
            }
          ]
        }
      ]
    },
    {
      "label":"Layout",
      "settings":[
        {
          "type":"checkbox",
          "id":"section_padding_top",
          "label":"Remove top section padding",
          "default":false
        },
        {
          "type":"checkbox",
          "id":"section_padding_bottom",
          "label":"Remove bottom section padding",
          "default":false
        },
        {
          "type":"checkbox",
          "id":"show_collapsed",
          "label":"Collapsed by default",
          "default":false
        }
      ]
    }
  ],
  "blocks":{
    "label":"Add FAQ",
    "limit":9,
    "types":[
      {
        "type":"faq",
        "label":"Frequently asked question",
        "settings":[
          {
            "type":"text",
            "id":"faq_question",
            "label":"Question"
          },
          {
            "type":"textarea",
            "id":"faq_answer",
            "label":"Answer"
          }
        ]
      }
    ],
    "defaults":[
      {
        "type":"faq",
        "values":{
          "faq_question":"Include questions a potential student may have before purchase.",
          "faq_answer":"Address common questions ahead of time to save yourself an email."
        }
      },
      {
        "type":"faq",
        "values":{
          "faq_question":"Include questions a potential student may have before purchase.",
          "faq_answer":"Address common questions ahead of time to save yourself an email."
        }
      },
      {
        "type":"faq",
        "values":{
          "faq_question":"Include questions a potential student may have before purchase.",
          "faq_answer":"Address common questions ahead of time to save yourself an email."
        }
      }
    ]
  }
}
{% endschema %}
