<section class="text-image section-height__medium" data-preview-item="text-image">
  <div class="text-image__container">
    <article class="section__content">
      <section class="text-image__body {% if section.settings.body != blank %}has-image{% endif %}">
        {% include 'section_headings' %}
        <div class="section__body">
          {{ section.settings.body }}
        </div>
        {% if section.settings.button_text != empty and section.settings.button_link != empty %}
          <section class="section__button-group">
            <a class="button button-primary" href="{{ section.settings.button_link }}">{{ section.settings.button_text }}</a>
          </section>
        {% endif %}
      </section>
      {% if section.settings.image != blank %}
        <section class="text-image__image" style="background-image: url({{ section.settings.image }});"></section>
      {% endif %}
    </article>
  </div>
</section>

{% style %}

section.text-image {
  {% include 'section_style_content_alignment' %}
  {% include 'section_style_heading_ornament' %}

  {% if section.settings.image_alignment == "left" %}
    .text-image__image {
      @include order(1);
    }

    .text-image__body {
      @include order(2);
    }
  {% endif %}
}

{% endstyle %}

{% schema %}
{
  "label":"Image & text (with CTA)",
  "settings":[
    {
      "label":"Text",
      "settings":[
        {
          "type":"text",
          "id":"heading",
          "label":"Heading",
          "default":"Image & text"
        },
        {
          "type":"text",
          "id":"subheading",
          "label":"Subheading",
          "default":""
        },
        {
          "type":"textarea",
          "id":"body",
          "label":"Description",
          "default":"Use this area to describe the image or provide supporting information."
        },
        {
          "type":"radio",
          "id":"content_alignment",
          "label":"Alignment",
          "default":"left",
          "options":[
            {
              "value":"left",
              "label":"Left"
            },
            {
              "value":"center",
              "label":"Center"
            },
            {
              "value":"right",
              "label":"Right"
            }
          ]
        }
      ]
    },
    {
      "label":"Image",
      "settings":[
        {
          "type":"image",
          "id":"image",
          "label":"Image",
          "default":""
        },
        {
          "type":"radio",
          "id":"image_alignment",
          "label":"Alignment",
          "default":"right",
          "options":[
            {
              "value":"left",
              "label":"Left"
            },
            {
              "value":"right",
              "label":"Right"
            }
          ]
        }
      ]
    },
    {
      "label":"Button",
      "settings":[
        {
          "type":"text",
          "id":"button_text",
          "label":"Text",
          "default":"Call to action"
        },
        {
          "type":"page_picker",
          "id":"button_link",
          "label":"Link",
          "default":""
        }
      ]
    }
  ]
}
{% endschema %}
