<section class="text-image section-height__medium" data-preview-item="text-image">
  <div class="text-image__container">
    <article class="section__content">
      <section class="text-image__body {% if section.settings.body != blank %}has-image{% endif %}">
        {% include 'section_headings' %}
        <div class="section__body">
          {{ section.settings.body }}
        </div>
      </section>
      {% if section.settings.image != blank %}
        <section class="text-image__image" style="background-image: url({{ section.settings.image }});"></section>
      {% endif %}
    </article>
  </div>
</section>

{% style %}

section.text-image {
  {% include 'section_style_content_alignment' %}
  {% include 'section_style_heading_order' %}
  {% include 'section_style_heading_ornament' %}

  {% if section.settings.image_alignment == "left" %}
    .text-image__image {
      @include order(1);
    }

    .text-image__body {
      @include order(2);
    }
  {% endif %}
}

{% endstyle %}

{% schema %}
{
  "label":"Image & text",
  "settings":[
    {
      "label":"Headings",
      "settings":[
        {
          "type":"text",
          "id":"heading",
          "label":"Heading",
          "default":""
        },
        {
          "type":"text",
          "id":"subheading",
          "label":"Subheading",
          "default":""
        }
      ]
    },
    {
      "label":"Content alignment",
      "settings":[
        {
          "type":"radio",
          "id":"content_alignment",
          "label":"",
          "default":"left",
          "options":[
            {
              "value":"left",
              "label":"Left"
            },
            {
              "value":"center",
              "label":"Center"
            },
            {
              "value":"right",
              "label":"Right"
            }
          ]
        }
      ]
    },
    {
      "label":"Text",
      "settings":[
        {
          "type":"textarea",
          "id":"body",
          "label":"",
          "default":""
        }
      ]
    },
    {
      "label":"Image",
      "settings":[
        {
          "type":"image",
          "id":"image",
          "label":"",
          "default":""
        },
        {
          "type":"radio",
          "id":"image_alignment",
          "label":"Alignment",
          "default":"right",
          "options":[
            {
              "value":"left",
              "label":"Left"
            },
            {
              "value":"right",
              "label":"Right"
            }
          ]
        }
      ]
    }
  ]
}
{% endschema %}
