{% if section.settings.site_url != null %}
  {% assign site_url = section.settings.site_url %}
{% else %}
  {% assign site_url = site.home_url %}
{% endif %}

<header class="header{% if section.settings.header_style == 'floating' %} floating{% endif %}" data-preview-item="header" data-menu-type="header__nav--{{ section.settings.menu_mobile_style }}" data-menu>
  <div class="header__container">
    <div class="header__wrapper">
      {% include 'logo' %}
      {% include 'navigation' %}
    </div>
  </div>
</header>

<script>
$(document).ready(function() {
  function dynamicHeaderHeight() {
    headerHeight = $header.outerHeight();
  }

  var $adminBar = $('.admin-notice__bar'),
      $body = $('body.home-landing-page, body.course-landing-page, body.bundle-landing-page, body.page-template'),
      $header = $('.header'),
      $main = $('.home-landing-page main, .course-landing-page main, .bundle-landing-page main, .page-template main'),
      $dropdownToggle = $('.dropdown__toggle-button'),
      $mobileButton = $('.header__mobile-button'),
      $navigation = $('.header__nav');

      dynamicHeaderHeight();

  var adminBarHeight = $adminBar.outerHeight(),
      beforeHeaderHeight = $body.find('>*').nextUntil('.header').outerHeight(),
      headerTop = $header.offset().top,
      isMobile = window.matchMedia("only screen and (max-width: 767px)");

  if(adminBarHeight != NaN) {
    $body.css({
      'padding-bottom': adminBarHeight
    });
  }
  $dropdownToggle.on('click keypress', function(e) {
    if (e.which === 13 || e.type === 'click') {
      e.preventDefault();
      e.stopPropagation();
      $('.dropdown').toggleClass('open');
    }
  });
  $mobileButton.on('click keypress', function(e) {
    if (e.which === 13 || e.type === 'click') {
      e.preventDefault();
      e.stopPropagation();
      $header.attr('data-menu', $header.attr('data-menu') == 'open' ? 'closed' : 'open');
      $mobileButton.toggleClass('open');
      $navigation.focus();
    }
  });
  {% if section.settings.menu_fixed %}
    $(window).bind('scroll', function (e) {
      if(!isMobile.matches) {
        if ($(window).scrollTop() > headerTop) {
          $adminBar.addClass('fixed');
          $header.addClass('fixed');
          if(!$header.hasClass('floating')) {
            $body.css({
              'padding-top': beforeHeaderHeight + headerHeight,
            });
          }
        }
        if ($(window).scrollTop() <= headerTop) {
          $adminBar.removeClass('fixed');
          if(!$header.hasClass('floating')) {
            $body.css({
              'padding-top': 0
            });
          }
          $header.removeClass('fixed');
        }
      }
      else {
        $header.removeClass('fixed');
      }
    });
  {% endif %}
  {% if section.settings.header_style == "floating" %}
    $main.find('section').eq(0).css({
      'padding-top': headerHeight
    });
  {% endif %}
  $(window).resize(function() {
    dynamicHeaderHeight();
    {% if section.settings.header_style == "floating" %}
      $main.find('section').eq(0).css({
        'padding-top': headerHeight
      });
    {% endif %}
  });
});
</script>

{% style %}
header.header {

  .header__logo {

    img {
      max-height: none;
      width: {{ section.settings.site_logo_size | append: '%' }};
      height: auto;
    }
  }
}

{% endstyle %}

{% schema %}
{
  "label":"Page header",
  "settings":[
    {
      "label":"Logo",
      "settings":[
        {
          "type":"image",
          "id":"site_logo",
          "default":"",
          "label":"",
          "description": ""
        },
        {
          "type":"number",
          "min":25,
          "max":80,
          "id":"site_logo_size",
          "default":80,
          "label":"Logo size",
          "description":"Image width scaling is percentage (%) based and ranges from 25% to 100%. Keep in mind image ratio to ensure header height does not compromise design integrity."
        },
        {
          "type":"page_picker",
          "id":"site_url",
          "label":"Site logo URL",
          "description":""
        }
      ]
    },
    {
      "label":"Settings",
      "settings":[
        {
          "type":"select",
          "id":"header_style",
          "label":"Header style",
          "description":"Configures the visual behaviour of your page header. e.g. Floating headers are transparent and float above the first section of your page.",
          "default":"floating",
          "options":[
            {
              "value":"floating",
              "label":"Floating"
            },
            {
              "value":"top",
              "label":"Top"
            }
          ]
        },
        {
          "type":"checkbox",
          "id":"menu_fixed",
          "label":"Fixed menu",
          "description":"Attaches the header to the top of the screen when scrolling the page, i.e. 'Always on top'",
          "default":true
        },
        {
          "type":"select",
          "id":"menu_position",
          "label":"Navigation position",
          "default":"right",
          "options":[
            {
              "value":"left",
              "label":"Left"
            },
            {
              "value":"right",
              "label":"Right"
            }
          ]
        },
        {
          "type":"select",
          "id":"menu_mobile_style",
          "label":"Mobile menu style",
          "default":"dropdown",
          "options":[
            {
              "value":"dropdown",
              "label":"Dropdown"
            },
            {
              "value":"overlay",
              "label":"Overlay"
            }
          ]
        },
        {
          "type":"checkbox",
          "id":"show_dashboard_link",
          "label":"Show 'My Dashboard'",
          "description":"",
          "default":true
        },
        {
          "type":"checkbox",
          "id":"show_menu_label",
          "label":"Show mobile menu label",
          "default":true
        }
      ]
    }
  ],
  "blocks":{
    "label":"Navigation links",
    "limit":6,
    "types":[
      {
        "type":"nav_item",
        "label":"Link item",
        "settings":[
          {
            "type":"text",
            "id":"nav_text",
            "label":"Text"
          },
          {
            "type":"page_picker",
            "id":"nav_url",
            "label":"URL"
          },
          {
            "type": "select",
            "id": "nav_target",
            "label": "Open link in",
            "default": "_self",
            "options": [
              {
                "value": "_self",
                "label": "Same window"
              },
              {
                "value": "_blank",
                "label": "New window"
              }
            ]
          }
        ]
      }
    ],
    "defaults":[
      {
        "type":"nav_item",
        "values":{
          "nav_text":"All Courses",
          "nav_url":{
            "type":"url",
            "id":"/collections"
          },
          "nav_target":"_self"
        }
      }
    ]
  }
}
{% endschema %}
