<section class="rich-text
{% include 'section_utility_color_preset' %}
{% include 'section_utility_height_preset' %}" data-preview-item="rich_text">
  <div class="rich-text__container">
    <div class="rich-text__wrapper">
      {% include 'section_headings' %}
      <article class="section__content">
        <section class="section__body">
          {{ section.settings.body }}
        </section>
      </article>
    </div>
  </div>
</section>

{% style %}

section.rich-text {
  {% include 'section_style_heading_alignment' %}
  {% include 'section_style_heading_order' %}
  {% include 'section_style_heading_ornament' %}
}

{% endstyle %}

{% schema %}
{
  "label":"Rich text",
  "settings":[
    {
      "label":"Headings",
      "settings":[
        {
          "type":"text",
          "id":"heading",
          "label":"Heading",
          "default":"Rich text"
        },
        {
          "type":"text",
          "id":"subheading",
          "label":"Subheading",
          "default":""
        },
        {
          "type":"radio",
          "id":"heading_alignment",
          "label":"Alignment",
          "description":"",
          "default":"left",
          "options":[
            {
              "value":"left",
              "label":"Left"
            },
            {
              "value":"center",
              "label":"Center"
            },
            {
              "value":"right",
              "label":"Right"
            }
          ]
        },
        {
          "type":"radio",
          "id":"heading_order",
          "label":"Heading Order",
          "default":"default",
          "options":[
            {
              "value":"normal",
              "label":"Normal"
            },
            {
              "value":"reverse",
              "label":"Reverse"
            }
          ]
        },
        {
          "type":"checkbox",
          "id":"show_heading_ornament",
          "label":"Show ornament",
          "default":false
        }
      ]
    },
    {
      "label":"Rich text",
      "settings":[
        {
          "type":"richtext",
          "id":"body",
          "label":"",
          "default":"<figure style='float: left; margin-right: 15px;'><img src='http://via.placeholder.com/350x200' alt='placeholder.com' title='placeholder.com' /><figcaption>Example with figure</figcaption></figure><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed at ante vitae nulla vulputate elementum. Maecenas imperdiet malesuada lacinia. Donec sit amet aliquet urna. Nam sit amet eros dapibus, commodo ligula a, imperdiet mi. Fusce rhoncus eros in leo rutrum, at lobortis leo sodales. Quisque nibh tellus, rutrum placerat turpis ac, ullamcorper suscipit nisl. Nullam faucibus quam a leo imperdiet, vel blandit nibh iaculis. Duis efficitur ipsum eu eros fermentum, in volutpat erat tincidunt. Curabitur sit amet vulputate sem. Donec vel facilisis est. Morbi vitae mollis massa, sed maximus ex. Duis elit orci, scelerisque ut erat eu, tincidunt euismod erat.</p><p>Maecenas posuere tellus et est elementum, ut ultricies est consectetur. Cras eu pretium mi. Aenean porttitor, leo rutrum auctor varius, nunc magna viverra urna, et semper orci mi luctus nunc. Aenean interdum tincidunt sodales. Etiam non tincidunt nunc. Aliquam iaculis, nibh non tincidunt venenatis, est ipsum molestie turpis, non auctor massa ipsum ac enim. In quis pharetra purus, rhoncus convallis libero.</p><img src='http://via.placeholder.com/350x200' alt='placeholder.com' title='placeholder.com' style='float: right; margin-left: 15px;' /><p>Pellentesque diam odio, facilisis volutpat sem vitae, hendrerit imperdiet urna. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Fusce viverra semper nulla eu tincidunt. Donec lobortis ipsum quis elementum facilisis. Pellentesque dapibus pellentesque libero vitae commodo. Cras vitae velit nec urna suscipit iaculis. Praesent a lacus eu tellus imperdiet semper quis ut lectus. Nullam velit quam, mollis non semper ut, mattis et libero. Fusce id ipsum tincidunt, condimentum odio quis, tristique sapien. Quisque vulputate eros in nisi bibendum, ut tempus mauris imperdiet. Fusce tincidunt fringilla mi, vel imperdiet nibh cursus sit amet. Fusce id ligula tincidunt, vulputate urna vulputate, dapibus eros. Sed venenatis laoreet sapien eu aliquet. Morbi vitae dapibus arcu. Morbi sagittis libero sed luctus efficitur. Mauris maximus nec sapien a convallis. Suspendisse eget massa nisl. Etiam facilisis mauris feugiat, pulvinar libero vitae, bibendum urna. Nam convallis nisl efficitur efficitur consectetur. Praesent tempor neque eget tellus tincidunt, eget volutpat urna scelerisque.</p>"
        }
      ]
    },
    {
      "label":"Background",
      "settings":[
        {
          "type":"select",
          "id":"background_color_preset",
          "label":"Choose color set",
          "description":"Color sets can be configured in the Design area.",
          "default":"secondary",
          "options":[
            {
              "value":"primary",
              "label":"Primary"
            },
            {
              "value":"secondary",
              "label":"Secondary"
            },
            {
              "value":"tertiary",
              "label":"Tertiary"
            }
          ]
        }
      ]
    },
    {
      "label":"Section height",
      "settings":[
        {
          "type":"select",
          "id":"section_height_preset",
          "label":"Height preset",
          "description":"",
          "default":"medium",
          "options":[
            {
              "value":"small",
              "label":"Small"
            },
            {
              "value":"medium",
              "label":"Medium"
            },
            {
              "value":"large",
              "label":"Large"
            }
          ]
        }
      ]
    }
  ]
}
{% endschema %}
