
  <section class="video" data-preview-item="video">
    <article class="section__content">
      {% if section.settings.video.frame != blank %}
        <span class="video__play-button"><i class="fa fa-play"></i></span>
      {% endif %}
      {% if section.settings.video.popover != blank %}
        <section class="section__video--trigger">
          {{ section.settings.video.popover }}
        </section>
      {% endif %}
    </article>
  </section>

  <script>
    $('.video').find('.video__play-button').on('click', function(e) {
      $(this).next('.section__video--trigger').find('.btn')[0].click();
    });
  </script>


{% style %}

section.video {

  {% if section.settings.video_thumbnail != blank %}
    background-image: url({{ section.settings.video_thumbnail }});

    {% if section.settings.video_overlay_color != blank %}
      &:after {
        background-color: {{ section.settings.video_overlay_color }};
        {% if section.settings.video_overlay_opacity != blank %}
          opacity: {{ section.settings.video_overlay_opacity }} * 0.01;
        {% endif %}
      }
    {% endif %}
  {% else %}
    background-color: gray-scale(1);
  {% endif %}

}

{% endstyle %}

{% schema %}
{
  "label":"Video",
  "settings":[
    {
      "label":"Video",
      "settings":[
        {
          "type":"video",
          "id":"video",
          "label":"",
          "description":"Navigate to the <a href='/manage/videos' target='_blank'>Video Library</a> section of your Dashboard to add additional videos",
          "default":{
            "id":false,
            "type":"",
            "url":"",
            "identifier":"",
            "frame":"",
            "popover":"",
            "oembed":false
          }
        }
      ]
    },
    {
      "label":"Video thumbnail",
      "settings":[
        {
          "type":"image",
          "id":"video_thumbnail",
          "default":"",
          "label":"Image",
          "description": ""
        },
        {
          "type":"color",
          "id":"video_overlay_color",
          "label":"Overlay color",
          "default":"#D9DEE2"
        },
        {
          "type":"number",
          "id":"video_overlay_opacity",
          "label":"Overlay opacity",
          "default":0,
          "min":0,
          "max":100
        }
      ]
    }
  ]
}
{% endschema %}
