{% if section.settings.video.frame != blank %}
  <section class="video" data-preview-item="video">
    <article class="section__content">
      <section class="section__video">
        {{ section.settings.video.frame }}
      </section>
    </article>
  </section>
{% endif %}

{% schema %}
{
  "label":"Video",
  "settings":[
    {
      "label":"Video",
      "settings":[
        {
          "type":"video",
          "id":"video",
          "label":"",
          "default":{
            "id":false,
            "type":"",
            "url":"",
            "identifier":"",
            "frame":"",
            "popover":"",
            "oembed":false
          }
        }
      ]
    }
  ]
}
{% endschema %}
